<div class="modal-body">
  <%= form_for @feature , url: admin_features_path(@feature) , method: :post do |f| %>
  <div class="field">
    <%= f.label :skull_width %><br>
    <%= f.text_field :skull_width, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :skull_high %><br>
    <%= f.text_field :skull_high, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :skull_diameter %><br>
    <%= f.text_field :skull_diameter, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :head_length %><br>
    <%= f.text_field :head_length, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :skull_length %><br>
    <%= f.text_field :skull_length, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :muzzle_high %><br>
    <%= f.text_field :muzzle_high, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :skull_percentage %><br>
    <%= f.text_field :skull_percentage, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :muzzle_percentage %><br>
    <%= f.text_field :muzzle_percentage, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :muzzle_high %><br>
    <%= f.text_field :muzzle_high, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :heah_high %><br>
    <%= f.text_field :heah_high, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :muzzle_high_skull %><br>
    <%= f.text_field :muzzle_high_skull, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :insertion_ear %><br>
    <%= f.text_field :insertion_ear, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :mordida %><br><br>
    <div class="field col-xs-4">
      <%= f.label :Pinza %><br>
      <%= f.check_box :bite_pin %>
    </div>
    <div class="field col-xs-4">
      <%= f.label :Cruzada_interior %><br>
      <%= f.check_box :bite_crusade_inside %>
    </div>
    <div class="field col-xs-4">
      <%= f.label :prognato %><br>
      <%= f.check_box :bite_prognato %>
    </div>
    <div class="field col-xs-4">
      <%= f.label :enognato %><br>
      <%= f.check_box :bite_enognato %>
    </div>
    <div class="field col-xs-4">
      <%= f.label :Tijera_invertida %><br>
      <%= f.check_box :bite_fork_inverted %>
    </div>
    <div class="field col-xs-4">
      <%= f.label :Correcta %><br>
      <%= f.check_box :bite_right %>
    </div>
  </div>
  <div class="field">
    <%= f.label :piezas_dentales %><br><br>

    <div class="field col-xs-4">
      <%= f.label :dental_full %><br>
      <%= f.check_box :dental_full %>
    </div>
    <div class="field col-xs-4">
      <%= f.label :dental_incisor %><br>
      <%= f.check_box :dental_incisor %>
    </div>
    <div class="field col-xs-4">
      <%= f.label :dental_canine %><br>
      <%= f.check_box :dental_canine %>
    </div>
    <div class="field col-xs-4">
      <%= f.label :dental_molar %><br>
      <%= f.check_box :dental_molar %>
    </div>
    <div class="field col-xs-4">
      <%= f.label :dental_premolar %><br>
      <%= f.check_box :dental_premolar %>
    </div>
  </div>
  <div class="field">
    <%= f.label :calidad_muscular %><br><br>

  <div class="field ">
    <%= f.label :muscular_general %><br>
    <%= f.text_field :muscular_general, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :muscular_masetero %><br>
    <%= f.text_field :muscular_masetero, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :muscle_parietale %><br>
    <%= f.text_field :muscle_parietale, class: 'form-control' %>
  </div>
  </div>
  <div class="field">
    <%= f.label :body_long %><br>
    <%= f.text_field :body_long, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :body_raised %><br>
    <%= f.text_field :body_raised, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :diamter_thorax %><br>
    <%= f.text_field :diamter_thorax, class: 'form-control' %>
  </div>
  <div class="field">
      <%= f.label :datos_parentesco %><br>
  <div class="field  col-xs-4">
    <%= f.label :recommendation %><br>
    <%= f.check_box :recommendation %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :title_work %><br>
    <%= f.check_box :title_work %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :test_strength %><br>
    <%= f.check_box :test_strength %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :test_dog_safe %><br>
    <%= f.check_box :test_dog_safe %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :championsihp %><br>
    <%= f.check_box :championsihp %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :defects_bite %><br>
    <%= f.check_box :defects_bite %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :lack_dental %><br>
    <%= f.check_box :lack_dental %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :postponement %><br>
    <%= f.check_box :postponement %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :entropion %><br>
    <%= f.check_box :entropion %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :ectropion %><br>
    <%= f.check_box :ectropion %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :displacia_elbow %><br>
    <%= f.check_box :displacia_elbow %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :displacia_hip %><br>
    <%= f.check_box :displacia_hip %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :problem_conduct %><br>
    <%= f.check_box :problem_conduct %>
  </div>
  <div class="field col-xs-4">
    <%= f.label :defect_tail %><br>
    <%= f.check_box :defect_tail %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>



  <% end %>
</div>