<p id="notice"><%= notice %></p>

<h1>Listing Features</h1>

<table>
  <thead>
    <tr>
      <th>Skull width</th>
      <th>Skull high</th>
      <th>Skull diameter</th>
      <th>Head length</th>
      <th>Skull length</th>
      <th>Muzzle high</th>
      <th>Skull percentage</th>
      <th>Muzzle percentage</th>
      <th>Muzzle high</th>
      <th>Heah high</th>
      <th>Muzzle high skull</th>
      <th>Insertion ear</th>
      <th>Bite pin</th>
      <th>Bite crusade inside</th>
      <th>Bite prognato</th>
      <th>Bite enognato</th>
      <th>Bite fork inverted</th>
      <th>Bite right</th>
      <th>Dental full</th>
      <th>Dental incisor</th>
      <th>Dental canine</th>
      <th>Dental molar</th>
      <th>Dental premolar</th>
      <th>Muscular general</th>
      <th>Muscular masetero</th>
      <th>Muscle parietale</th>
      <th>Body long</th>
      <th>Body raised</th>
      <th>Diamter thorax</th>
      <th>Recommendation</th>
      <th>Title work</th>
      <th>Test strength</th>
      <th>Test dog safe</th>
      <th>Championsihp</th>
      <th>Defects bite</th>
      <th>Lack dental</th>
      <th>Postponement</th>
      <th>Entropion</th>
      <th>Ectropion</th>
      <th>Displacia elbow</th>
      <th>Displacia hip</th>
      <th>Problem conduct</th>
      <th>Defect tail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= feature.skull_width %></td>
        <td><%= feature.skull_high %></td>
        <td><%= feature.skull_diameter %></td>
        <td><%= feature.head_length %></td>
        <td><%= feature.skull_length %></td>
        <td><%= feature.muzzle_high %></td>
        <td><%= feature.skull_percentage %></td>
        <td><%= feature.muzzle_percentage %></td>
        <td><%= feature.muzzle_high %></td>
        <td><%= feature.heah_high %></td>
        <td><%= feature.muzzle_high_skull %></td>
        <td><%= feature.insertion_ear %></td>
        <td><%= feature.bite_pin %></td>
        <td><%= feature.bite_crusade_inside %></td>
        <td><%= feature.bite_prognato %></td>
        <td><%= feature.bite_enognato %></td>
        <td><%= feature.bite_fork_inverted %></td>
        <td><%= feature.bite_right %></td>
        <td><%= feature.dental_full %></td>
        <td><%= feature.dental_incisor %></td>
        <td><%= feature.dental_canine %></td>
        <td><%= feature.dental_molar %></td>
        <td><%= feature.dental_premolar %></td>
        <td><%= feature.muscular_general %></td>
        <td><%= feature.muscular_masetero %></td>
        <td><%= feature.muscle_parietale %></td>
        <td><%= feature.body_long %></td>
        <td><%= feature.body_raised %></td>
        <td><%= feature.diamter_thorax %></td>
        <td><%= feature.recommendation %></td>
        <td><%= feature.title_work %></td>
        <td><%= feature.test_strength %></td>
        <td><%= feature.test_dog_safe %></td>
        <td><%= feature.championsihp %></td>
        <td><%= feature.defects_bite %></td>
        <td><%= feature.lack_dental %></td>
        <td><%= feature.postponement %></td>
        <td><%= feature.entropion %></td>
        <td><%= feature.ectropion %></td>
        <td><%= feature.displacia_elbow %></td>
        <td><%= feature.displacia_hip %></td>
        <td><%= feature.problem_conduct %></td>
        <td><%= feature.defect_tail %></td>
        <td><%= link_to 'Show', feature %></td>
        <td><%= link_to 'Edit', edit_feature_path(feature) %></td>
        <td><%= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feature', new_admin_feature_path %>
