<p id="notice"><%= notice %></p>

<p>
  <strong>Skull width:</strong>
  <%= @feature.skull_width %>
</p>

<p>
  <strong>Skull high:</strong>
  <%= @feature.skull_high %>
</p>

<p>
  <strong>Skull diameter:</strong>
  <%= @feature.skull_diameter %>
</p>

<p>
  <strong>Head length:</strong>
  <%= @feature.head_length %>
</p>

<p>
  <strong>Skull length:</strong>
  <%= @feature.skull_length %>
</p>

<p>
  <strong>Muzzle high:</strong>
  <%= @feature.muzzle_high %>
</p>

<p>
  <strong>Skull percentage:</strong>
  <%= @feature.skull_percentage %>
</p>

<p>
  <strong>Muzzle percentage:</strong>
  <%= @feature.muzzle_percentage %>
</p>

<p>
  <strong>Muzzle high:</strong>
  <%= @feature.muzzle_high %>
</p>

<p>
  <strong>Heah high:</strong>
  <%= @feature.heah_high %>
</p>

<p>
  <strong>Muzzle high skull:</strong>
  <%= @feature.muzzle_high_skull %>
</p>

<p>
  <strong>Insertion ear:</strong>
  <%= @feature.insertion_ear %>
</p>

<p>
  <strong>Bite pin:</strong>
  <%= @feature.bite_pin %>
</p>

<p>
  <strong>Bite crusade inside:</strong>
  <%= @feature.bite_crusade_inside %>
</p>

<p>
  <strong>Bite prognato:</strong>
  <%= @feature.bite_prognato %>
</p>

<p>
  <strong>Bite enognato:</strong>
  <%= @feature.bite_enognato %>
</p>

<p>
  <strong>Bite fork inverted:</strong>
  <%= @feature.bite_fork_inverted %>
</p>

<p>
  <strong>Bite right:</strong>
  <%= @feature.bite_right %>
</p>

<p>
  <strong>Dental full:</strong>
  <%= @feature.dental_full %>
</p>

<p>
  <strong>Dental incisor:</strong>
  <%= @feature.dental_incisor %>
</p>

<p>
  <strong>Dental canine:</strong>
  <%= @feature.dental_canine %>
</p>

<p>
  <strong>Dental molar:</strong>
  <%= @feature.dental_molar %>
</p>

<p>
  <strong>Dental premolar:</strong>
  <%= @feature.dental_premolar %>
</p>

<p>
  <strong>Muscular general:</strong>
  <%= @feature.muscular_general %>
</p>

<p>
  <strong>Muscular masetero:</strong>
  <%= @feature.muscular_masetero %>
</p>

<p>
  <strong>Muscle parietale:</strong>
  <%= @feature.muscle_parietale %>
</p>

<p>
  <strong>Body long:</strong>
  <%= @feature.body_long %>
</p>

<p>
  <strong>Body raised:</strong>
  <%= @feature.body_raised %>
</p>

<p>
  <strong>Diamter thorax:</strong>
  <%= @feature.diamter_thorax %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @feature.recommendation %>
</p>

<p>
  <strong>Title work:</strong>
  <%= @feature.title_work %>
</p>

<p>
  <strong>Test strength:</strong>
  <%= @feature.test_strength %>
</p>

<p>
  <strong>Test dog safe:</strong>
  <%= @feature.test_dog_safe %>
</p>

<p>
  <strong>Championsihp:</strong>
  <%= @feature.championsihp %>
</p>

<p>
  <strong>Defects bite:</strong>
  <%= @feature.defects_bite %>
</p>

<p>
  <strong>Lack dental:</strong>
  <%= @feature.lack_dental %>
</p>

<p>
  <strong>Postponement:</strong>
  <%= @feature.postponement %>
</p>

<p>
  <strong>Entropion:</strong>
  <%= @feature.entropion %>
</p>

<p>
  <strong>Ectropion:</strong>
  <%= @feature.ectropion %>
</p>

<p>
  <strong>Displacia elbow:</strong>
  <%= @feature.displacia_elbow %>
</p>

<p>
  <strong>Displacia hip:</strong>
  <%= @feature.displacia_hip %>
</p>

<p>
  <strong>Problem conduct:</strong>
  <%= @feature.problem_conduct %>
</p>

<p>
  <strong>Defect tail:</strong>
  <%= @feature.defect_tail %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
