<div style="padding: 0px;" class="jumbotron">
<div class="cardheader"></div>
  <div style="margin: 0px; position: relative; bottom: 120px;" class="row"> 
    <div class="col-md-12 center">
        <span class="center_span"><%= @breeder.name%></span>
    </div>
    <div class="col-md-4 hidden-xs">
    <%- if @breeder.img.blank? %>
        <img style="width: 70%;" class="thumbnail img-responsive" ,="" src="/assets/placeholder2.png" alt="">
    <%else%>
        <img style="width: 70%;" class="thumbnail img-responsive" ,="" src="<%= @breeder.img.url%>" alt="">
    <%end%>
    </div>
    <div style="margin-top: 30px;" class="col-md-8">
      <div style="margin-top: 0px;" class="row">
        <div style="margin-top: 30px;" class="col-md-8">
          <span>Telefono:</span>
          <span><%= @breeder.phone%></span><br>
          <span>Correo:</span>
          <span><%= @breeder.email%></span><br>
          <span>Pais:</span>
          <span><%= @breeder.country%> </span><br>
          <span>Ciudad:</span>
          <span><%= @breeder.city%></span><br>
          <span>Direeción:</span>
          <span><%= @breeder.adrress%></span><br>
          <span>Facebook:</span>
          <span><%= @breeder.facebook%></span><br>
          <span>Twitter:</span>
          <span><%= @breeder.twitter%></span><br>
          <span>instagram:</span>
          <span><%= @breeder.instagram%></span><br>
          <span>Web:</span>
          <span><%= @breeder.web%></span><br>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 0px; margin-right: 0px; margin-left: 0px; position: relative; top: -46px;" class="row">
    <div class="col-md-6">
      <%= link_to "Eliminar", admin_breeder_path(@breeder), method: :delete, data: { confirm: 'Desea eliminar este criador?' }, :class => "btn btn-danger btn-outlined btn-block" %>
    </div>
    <div class="col-md-6">
      <%= link_to "Modificar",  edit_admin_breeder_path(@breeder), :class => "btn btn-info btn-outlined btn-block" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th class="center">Nombre</th>
          <th class="center">Raza</th>
          <th class="center">Sexo</th>
        </tr>
      </thead>
      <tbody>
        <% @canines.each do |canine| %>
          <tr >
            <td class="center"><%= link_to canine.name, admin_canine_path(canine), :class => "link_to"  %></td>
            <td class="center"><%= canine.race.name %></td>
            <td class="center"><%= gender(canine.gender) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>