<!-- Modal -->
<div class="modal fade" id="myModalEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar Evento</h4>
      </div>
      <div class="modal-body">
      <%= form_for @event , url: admin_events_path(@event) , remote: true,method: :post do |f| %>
      <div id="erros"></div>
      <div class="field">
        <%= f.label :Tipo_Evento %><br>
         <%= f.collection_select :type_event_id, TypeEvent.all, :id, :name, {prompt: " "}, {class: "form-control"}%>
      </div>
      <div class="field">
        <%= f.label :Nombre %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :Lugar %><br>
        <%= f.text_field :place , class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :Descripción %><br>
        <%= f.text_field :description , class: 'form-control'%>
      </div>
      <div class="field">
        <%= f.label :Fecha %><br>
        <%= f.date_select :date, class: 'form-control'  %>
      </div>
      <div class="field">
        <%= f.label :Imagen %><br>
        <%= f.file_field :img %>
      </div>
      <div class="actions">
        <%= f.submit :class =>"btn btn-primary btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
