<p id="notice"><%= notice %></p>

<h1>Listing Canines</h1>

<table>
  <thead>
    <tr>
      <th>Race</th>
      <th>Breeder</th>
      <th>Lof</th>
      <th>Chip</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Color</th>
      <th>Father lof</th>
      <th>Mother lof</th>
      <th>Rate</th>
      <th>Birth</th>
      <th>Death</th>
    </tr>
  </thead>

  <tbody>
    <% @canines.each do |canine| %>
      <tr>
        <td><%= canine.race_id %></td>
        <td><%= canine.breeder_id %></td>
        <td><%= canine.lof %></td>
        <td><%= canine.chip %></td>
        <td><%= canine.name %></td>
        <td><%= canine.gender %></td>
        <td><%= canine.color_id %></td>
        <td><%= canine.father_lof %></td>
        <td><%= canine.mother_lof %></td>
        <td><%= canine.rate %></td>
        <td><%= canine.birth %></td>
        <td><%= canine.death %></td>
      </tr>
    <% end %>
  </tbody>
</table>

