<div class="container ">
  <div class="box-purchase">
    <div class="col-md-12">
      <div class="row">
        <%= search_form_for @search, url: canines_path do |f|%>   
        <div class="col-md-2">
          <label>Nombre o LOF</label>
        </div>
        <div class="col-md-4">
          <%= f.search_field(:name_or_lof_cont, class: 'form-control', :placeholder => "Buscar Ejemplar")%>
        </div>
        <div class="col-md-3">
          <%=  f.submit :class =>"btn btn btn-primary btn-block"%>
        </div>
        <div class="col-md-3">
          <%= link_to "Borrar Filtro", request.path, class:"btn btn-danger btn_white btn-block"%>
        </div>
        <%end%>
      </div>
    </div>  
  </div>
  <p class="white-space"></p>
  <%- if params[:q]%>
      <% @canines.each do |canine| %>
      <div class="jumbotron">
        <h2><%= canine.name%></h2>
        <div class="row">
          <div class="col-md-4">
            <%if canine.images.last.blank? %>
             <%= image_tag "placeholder.png", :class => "thumbnail", :size => '150x150'%>
            <%else%>
              <img alt="" class="img-responsive" src="<%= canine.images.last.file%>">
            <%end%>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <span>Sexo:</span>
                <span><%= gender(canine.gender)%></span>
              </div>
              <br>
              <div class="col-md-6">
                <span>Raza:</span>
                <%-if !canine.race_id.blank?%>
                <span><%= canine.race.name%> </span>
                <%end%>
              </div>
              <br>
              <div class="col-md-6">
                <span>Color:</span>
                <span><%= canine.color%> </span>
              </div>
              <br>
              <div class="col-md-6">
                <span>Nacimiento:</span>
                <span><%= canine.birth%></span>
              </div>
              <br>
              <div class="col-md-6">
                <span>LOF:</span>
                <span><%= canine.lof%></span>
              </div>
              <br>
              <div class="col-md-6">
                <span>Propietario:</span>
                <%-if !canine.breeder_id.blank?%>
                <span><%= canine.breeder.name%> </span>
                <%end%>
              </div>
              <br>
              <div class="col-md-6">
                <span>Microchip:</span>
                <span><%= canine.chip%> </span>
              </div>
              <br>
              <div class="col-md-6">
                <span>Fecha de registor:</span>
                <span><%= canine.created_at.strftime("%m-%d-%Y")%> </span>
              </div>
            </div>
          </div>
          <%= link_to "Ver mas...", canine_path(canine) %>
        </div>
      </div>
      <%end%>
      <%= will_paginate @canines, :locals => { :canines => @canines }, renderer: BootstrapPagination::Rails%>
  <%end%>
</div>