<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-purchase" style="margin-bottom: 13px;">
                <%= render partial: "/canines/filters"%>
            </div>
            <%- if params[:q]%>
                <% @canines.each do |canine| %>   
                    <a href="/canines/<%= canine.id%>">
                      <div class="col-sm-4 col-xs-12">  
                        <div class="panel panel-default">
                            <div class="panel-thumbnail">
                                <img class="img-responsive" src="<%= pic_canine(canine)%>"style="margin: 0px auto;">
                            </div>
                            <div style="padding: 10px;" class="panel-body"> 

                                <hr>
                                <span class="label label-info pull-right">
                                <%@ranking = 0%>
                                <%@canine.champions.each do |category| @ranking = @ranking + category.points end%>
                                Ranking <%= @ranking.to_i%></span>
                                <p class="lead"><%= truncate(canine.name, :ommision => "", :length => 18) %></p>
                                <p class="center"><%= get_race(canine.race_id)%></p>
                                <span class=" center label label-warning pull-right"> Ver Ficha Técnica del Ejemplar</span>
                                </p>
                            </div>
                        </div>
                      </div>
                    </a>
                <%end%>
                <%= will_paginate @canines, :locals => { :canines => @canines }, renderer: BootstrapPagination::Rails%>
                <%else%>
                <h2>BUSCAR EJEMPLAR POR NOMBRE O POR LOF</h2>
            <%end%>
        </div>
    </div>
</div>