<div class="container">
<div class="jumbotron" style="padding: 0px;">
<div class="cardheader"></div>
  <div class="row" style="margin: 0px; position: relative; bottom: 120px;"> 
    <div class="col-md-12 center">
        <span class="center_span"><%=@canine.name.upcase%></span>
    </div>
    <div class="col-md-4 hidden-xs">
      <img alt="" src="<%= pic_canine(@canine)%>", class="thumbnail img-responsive" style="width: 70%;">
    </div>
    <div class="col-md-8" style="margin-top: 30px;">
      <div class="row" style="margin-top: 0px;">
        <div class="col-md-8" style="margin-top: 30px;">
          <span>RAZA:</span>
          <span><%= get_race(@canine.race_id) %></span><br>
          <span>SEXO:</span>
          <span><%= gender(@canine.gender)%></span><br>
          <span>COLOR:</span>
          <span><%= @canine.color%> </span><br>
          <span>Nacimiento:</span>
          <span><%= @canine.birth%></span><br>
          <span>LOF:</span>
          <span><%= @canine.lof%></span><br>
          <span># OTRO REGISTRO:</span>
          <span><%= @canine.new_register%> </span><br>
          <span>CRIADOR:</span>
          <span><%= get_breeder(@canine.breeder_id)%></span><br>
          <span>PROPIETARIO:</span>
          <span><%= @canine.propietary%></span><br>
          <span>MICROCHIP:</span>
          <span><%= @canine.chip%> </span><br>
          <span>Fecha de registor:</span>
          <span><%= @canine.created_at.strftime("%m-%d-%Y")%> </span>
        </div>
        <div class="col-md-4" style="margin-top: 15px;">
          <h3><span class="label label-primary">RANKING: <%= @ranking.to_i%></span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 0px; margin-right: 0px; margin-left: 0px; position: relative; top: -46px;">
    <div class="col-md-3">
      <%= link_to "PEDIGREE", pedigree_path(@canine), :class =>"btn btn-success btn-outlined btn-block", :disabled => @array_ancestor.zero? %>
    </div>
    <div class="col-md-3">
      <%= link_to "DIAGRAMA DE FLECHA", endogamia_path(@canine), :class =>"btn btn-warning btn-outlined pull-right hidden-xs btn-block", :disabled => @array_ancestor.zero? %>
    </div>
    <div class="col-md-3">
      <a class="twitter-share-button btn btn-info btn-outlined btn-block white-btn"
      href="https://twitter.com/intent/tweet?url=<%=request.original_url %>&text=Mira mi ejemplar de fedepit"
        data-counturl="<%= request.original_url%>">
        Tweet</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-fb btn-outlined btn-block white-btn" href="http://www.facebook.com/share.php?u=<%= request.original_url%>&title= Mira mi ejemplar de fedepit">Facebook</a>
    </div>
  </div>
</div>
<%= render partial: "/admin/canines/tabs"%>

</div>
