<br>
<div class="row">
  <div class="col-md-12">
    <h2 class="center"> Editar Artículo</h2>
    <%= form_for @article , url: admin_article_path(@article), :id => @article.id , method: :put do |f| %>
    <% if @article.errors.any? %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>No se puede modificar este Artículo:</strong>
          <ul>
            <% @article.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :Titulo %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :Descripción %><br>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :Imagen %><br>
      <%- if f.object && f.object.img && f.object.img%>
      <%= image_tag(f.object.img.to_s, :transformation => 'hint', alt: f.object.img.to_s)%>
      <%= f.file_field :img %>
      <%else%>
      <%= f.file_field :img %>
      <%end %>
    </div>
    <div class="actions">
      <%= f.submit :class =>"btn btn-primary btn-block" %>
    </div>
    <% end %>
  </div>
</div>
