<%= form_for @article ,  remote: true, url: admin_articles_path(@article) , method: :post do |f| %>
    <div class="col-xs-12">
        <div class="col-md-12">
            <h3 class="center"> TITULO Y UNA BREVE DESCRIPCION</h3>
            <div class="errors"></div>
            <div class="fileUpload btn btn-primary pull-right">
                <span>Imagen de Portada</span>
                <%= f.file_field :img , :class => "upload"%>
            </div>
            <br>
            <div class="form-group">
                <label class="control-label">Titulo Articulo</label>
                <%= f.text_field :title, class: 'form-control' , :maxlength =>"100" ,:required => false, :placeholder => "Ingrese el nombre del articulo"%>
            </div>
            <div class="form-group">
                <label class="control-label">Decripcion</label>
                <%= f.text_area :description, class: 'form-control', :placeholder =>"Breve descripcion del articulo", rows: 4 %>
            </div>
            <%= f.add_nested_fields_link :paragraphs, 'Agregar Parrafos', :class =>"btn btn-primary pull-right"%>
            <br>
            <br>
            <%= f.nested_fields_for :paragraphs do |ff|%>
                <div class="row">
                    
                    <div class="col-md-7">
                        <%= ff.text_area :description, class: 'form-control', :placeholder =>"detalle del parrafo" , rows: 3%>
                    </div>
                    <div class="col-md-1">
                        <%= ff.remove_nested_fields_link do%>
                            <i class="fa fa-trash-o"></i>
                        <%end%>
                    </div>
                    <div class="col-md-4">
                        <div class="fileUpload btn btn-primary">
                        <span>Imagen de parrafo</span>
                            <%= ff.file_field :img , :class => "upload pull-right"%> 
                        </div>
                    </div>
                    
                </div>
            <%end%>
            <br>
            <%= f.submit :class =>"btn btn-primary" %>
        </div>
    </div>
<%end%>


    