<div class="row">
  <div class='col-md-9'>
    <%= link_to "Editar Articulo", edit_admin_article_path(@article), :class => "btn btn-primary"%>
    <div class="blog-info-prod">
      <div class="pull-right">
        <h5><i class="fa fa-clock-o"></i> <%= @article.created_at.strftime('%b  %d  %Y')%></h5>
      </div>
      <div class="page-header">
        <h1><%= @article.title%></h1>
      </div>
      <a href="#">
        <%if @article.img.blank?%>
          <img src="http://placehold.it/1000x500" class="img-responsive" alt=""/>
        <%else%>
          <img alt="" class="img-responsive" src="<%= @article.img%>">
        <%end%>
      </a>
      <br>
      <p class="blog-author"><a href="#">3 Comments</a></p>
      <p class="blog-desc-prod"><%= @article.description%></p>
      <div class="comments">
        <div data-example-id="simple-table" class="bs-example">
          <table class="table table-striped table-hover table-bordered">
            <caption>Comentarios.</caption>
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Comentario</th>
                <th>alias</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>sbckjsdbcklascbasklcbaskcbckjsdbcklascbasklcbaskcbckjsdbcklascbasklcbaskcasdsbckjsdbcklascbasklcbaskasklcbaskcasdsbckjsdbcklascbasklcbaskcasd</td>
                <td>@mdo</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>sbckjsdbcklascbasklcbaskcasd;casdc</td>
                <td>@fat</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>sbckjsdbcklascbasklcbaskcasdsbckjsdbcklascbasklcbaskcasdsbckjsdbcklascbasklcbaskcasdsbckjsdbcklascbasklcbaskcasd</td>
                <td>@twitter</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <div class="blog-info-prod">
      <h2 class="t-title-office"><span>Recent post</span></h2>
      <ul class='post-lateral'>
        <li>
          <img src='images/product/img1.jpg' alt='' />
          <div>
            <p>Business Cards Design</p><p class='post-data'>Dec 12 2014/ 2 comments</p>
          </div>
        </li>
        <li>
          <img src='images/product/img2.jpg' alt='' />
          <div>
            <p>World Tecnology</p><p class='post-data'>Dec 02 2014/ 2 comments</p>
          </div>
        </li>
        <li>
          <img src='images/product/img3.jpg' alt='' />
          <div>
            <p>Switch Design CO.</p><p class='post-data'>Dec 02 2014/ 2 comments</p>
          </div>
        </li>
        <li>
          <img src='images/product/img4.jpg' alt='' />
          <div>
            <p>Marketing Trip Forest</p><p class='post-data'>Dec 02 2014/ 2 comments</p>
          </div>
        </li>
      </ul>
    </div>    
  </div>
</div>
