<div class="row">
  <div class="col-md-8">
    <h1 class="center"><span><%= link_to @article.title, article_path(@article.id)%></span></h1>
    <h4 class="center"><%= @article.description%></h4>
    <span class="label label-info pull-right"><%= @article.created_at.strftime("%F")%></span>
    <br>
    <div class="center">
      <%unless @article.img.blank?%>
          <img alt="" class="img-responsive" src="<%= @article.img%>">
        <%end%>
    </div>
    <br>
    <%- @article.paragraphs.each do |paragraph|%>
      <div class="row">
        <div class="col-md-8">
          <p><%= paragraph.description%></p>
        </div>
        <div class="col-md-4">
          <img class="center-img" src="http://placehold.it/230x190">
        </div>
      </div>
    <%end%>
    <div id="comments"><%= render partial: '/admin/articles/comments' %></div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
    <div class="well">
      <h4><i class="fa fa-fire"></i> Popular Posts:</h4>
      <ul>
        <li><a href="">WPF vs. Windows Forms-Which is better?</a></li>
        <li><a href="">How to create responsive website with Bootstrap?</a></li>
        <li><a href="">The best Joomla! templates 2014</a></li>
        <li><a href="">ASP .NET cms list</a></li>
        <li><a href="">C# Hello, World! program</a></li>
        <li><a href="">Java random generator</a></li>
      </ul>
    </div>
  </div>
</div>
