<div class="row">
  <div class="col-md-8">
    <h1 class="center"><span><%= link_to @article.title, article_path(@article.id)%></span></h1>
    <h4 class="center"><%= @article.description%></h4>
    <span class="label label-info pull-right"><%= @article.created_at.strftime("%F")%></span>
    <br>
    <div class="center">
      <%unless @article.img.blank?%>
          <img alt="" class="img-responsive" src="<%= @article.img%>">
        <%end%>
    </div>
    <br>
    <a class="add_field_button pull-right fa fa-plus-circle" href="<%= new_admin_paragraph_path(article_id: @article.id)%>"></a>
    <hr>
    <%- @article.paragraphs.each do |paragraph|%>
      <div class="row">
        <%- if !paragraph.img.blank? %>
          <div class="col-md-8">
            <p><%= paragraph.description%></p>
          </div>
          <div class="col-md-3">
            <img class="center-img" src="http://placehold.it/190x190">
          </div>
          <div class="col-md-1">
            <%= link_to edit_admin_paragraph_path(paragraph) do %>
              <i class="fa fa-pencil-square-o"></i>
            <%end%>
            <%= link_to admin_paragraph_path(paragraph, params[:aricle_id]), method: :delete, data: { confirm: 'Desea eliminar este parrafo?' } do %>
              <i class="fa fa-trash-o"></i>
            <%end%>
          </div>
        <%else%>
          <div class="col-md-11">
            <p><%= paragraph.description%></p>
          </div>
          <div class="col-md-1">
            <%= link_to edit_admin_paragraph_path(paragraph) do %>
              <i class="fa fa-pencil-square-o"></i>
            <%end%>
            <%= link_to admin_paragraph_path(paragraph, params[:aricle_id]), method: :delete, data: { confirm: 'Desea eliminar este parrafo?' } do %>
              <i class="fa fa-trash-o"></i>
            <%end%>
          </div>
        <%end%>
      </div>
    <%end%>
    <br>
    <div id="comments"><%= render partial: '/admin/articles/comments' %></div>
  </div>
  <div class="col-md-4">
    <!-- <div class="well">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div> -->
    <div class="well">
      <h4><i class="fa fa-fire"></i>Ultimos Post:</h4>
      <ul>
        <%- @articles.each do |article|%>
          <li><a href="<%= admin_article_path(article.id)%>"><%= article.title%></a></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
