<div class="breadcrumb-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li>
            <a href="<%= root_path%>"><%=t ('.home')%></a>
          </li>
          <li class="active"><%=t ('.article')%></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% @articles.each do |article| %>
    <a href="<%= article_path(article)%>">
      <div class="col-sm-4 col-xs-6">
        <div class="panel panel-default">
          <div class="panel-thumbnail">
            <% if article.img.blank?%>
            <img class="img-responsive" src="//placehold.it/450X300">
            <%else%>
            <img class="img-responsive" src="<%= article.img_url%>" style="width: auto; height: 188px;">
            <%end%>
          </div>
          <div class="panel-body" style="padding: 10px;"> 
            <span class="label label-info pull-right">
            <%=article.comments.count%></span>
            <p class="lead"><%= article.title.upcase%></p>
            <p><%= truncate(article.description, :ommision => "", :length => 38)%><p>
            <span class="label label-warning pull-right">Seguir Leyendo...</span>
          </div>

        </div>
      </div> 
    </a> 
  <% end %>
  <div class="col-md-12">
  <%= will_paginate @articles, :locals => { :articles => @articles }, renderer: BootstrapPagination::Rails%>
  </div>
</div>
