<div class="row">
  <div class='col-md-9'>
    <div class="blog-info-prod">
      <div class="pull-right">
        <h5><i class="fa fa-clock-o"></i> <%= @article.created_at.strftime('%b  %d  %Y')%></h5>
      </div>
      <div class="page-header">
        <h1><%= @article.title%></h1>
      </div>
      <a href="#">
        <%if @article.img.blank?%>
          <img src="http://placehold.it/1000x500" class="img-responsive" alt=""/>
        <%else%>
          <img alt="" class="img-responsive" src="<%= @article.img%>">
        <%end%>
      </a>
      <br>
      <p class="blog-desc-prod"><%= @article.description%></p>
      <p class="blog-author"><a href="#">3 Comments</a></p>
      
    </div>
  </div>
  <!-- <div class='col-md-3'>
    <div class="blog-info-prod">
      <h2 class="t-title-office"><span>Recent post</span></h2>
      <ul class='post-lateral'>
        <li>
          <img src='images/product/img1.jpg' alt='' />
          <div>
            <p>Business Cards Design</p><p class='post-data'>Dec 12 2014/ 2 comments</p>
          </div>
        </li>
        <li>
          <img src='images/product/img2.jpg' alt='' />
          <div>
            <p>World Tecnology</p><p class='post-data'>Dec 02 2014/ 2 comments</p>
          </div>
        </li>
        <li>
          <img src='images/product/img3.jpg' alt='' />
          <div>
            <p>Switch Design CO.</p><p class='post-data'>Dec 02 2014/ 2 comments</p>
          </div>
        </li>
        <li>
          <img src='images/product/img4.jpg' alt='' />
          <div>
            <p>Marketing Trip Forest</p><p class='post-data'>Dec 02 2014/ 2 comments</p>
          </div>
        </li>
      </ul>
    </div>    
  </div> -->
</div>
<%= render partial: "articles/comments"%>
