<div class="setup-content" id="step-2">
    <%= form_for @paragraph , url: admin_paragraphs_path(@paragraph) , method: :post do |f| %>
        <h3 class="center"> CREA PÁRRAFO</h3>
        <div class="input_fields_wrap">
            <div class="form-group">
                <br>
                <label class="control-label">Descripción</label>
                <%= f.text_area :description, class: 'form-control', :placeholder =>"Breve descripción del Párrafo" , rows: 5%>
            </div>
            <div class="form-group">
                <%= f.hidden_field :article_id , :value  => params[:article_id]%>
                <div class="fileUpload btn btn-primary">
                    <span>Image del Párrafo</span>
                    <%= f.file_field :img , :class => "upload "%>
                </div>
            </div>
            <%= f.submit :class =>"btn btn-primary nextBtn pull-right" %>
        </div>
    <%end%>
</div>
