<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><%= @animation.title%></h1>
      <hr>
      <p><i class="fa fa-calendar"></i></span> <%= @animation.created_at.strftime('%b  %d  %Y')%></p>
      <hr>
      <div class="video-container">
         <iframe src="http://www.youtube.com/embed/<%=@animation.url%>" frameborder="0" width="617" height="315"></iframe>
      </div>
      <p class=""><%= @animation.description%></p>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h4><%=t ('.ultimo')%></h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <% @animations.each do |animation| %>
                <li><a href="<%= animation_path(animation.id)%>"><%= animation.title%></a>
                <%end%> 
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>