<div class="col-md-12">
	<div class="row">
	<%= search_form_for @search, url: admin_races_path do |f|%>		
		<div class="col-md-6">
			<label>Name</label>
			<%= f.search_field(:name_cont, class: 'form-control')%>
		</div>
		<div class="col-md-2">
			<%= f.submit :class =>"btn btn btn-primary btn-block"%>
		</div>
		<div class="col-md-2">
			<%= link_to t('.clear'), request.path, class:"btn btn-danger btn_white btn-block"%>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalRace">
				Agregar Raza
			</button>
		</div>
	<%end%>
	
	</div>
</div>	
<%= render :partial => "form"%>
