<div class="row">
  <div class="col-md-12">
    <%= form_for @race , url: admin_race_path(@race), :id => @race.id , method: :put do |f| %>
    <% if @race.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @race.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :pdf %><br>
      <%= f.file_field :pdf %>
    </div>
      <br>
    <%= f.add_nested_fields_link :img_races, 'Agregar Descripción de la Raza', class: 'btn btn-info', role: 'button'%>
  <br>
     <div class="panel-body">
    <%= f.nested_fields_for :img_races do |ff| %>
      <div class="field_images row">
        <div class="col-md-5">
          <%= ff.label :description, "Descripción"%>
          <%= ff.text_field :description, class: 'form-control'%>
        </div>
        <div class="col-md-6">
          <%= ff.label :Img, "Image"%>
          <%= ff.file_field :img%>
        </div>
        <div class="col-md-1">
          <%= ff.remove_nested_fields_link do%>
            <i class="fa fa-trash-o"></i>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
    <div class="actions">
      <%= f.submit :class =>"btn btn-primary btn-block" %>
    </div>
    <% end %>
  </div>
</div>
