<div class="jumbotron">
	<div class="row">
		<div class="col-md-12"><h2><%= @race.name%></h2></div>
		<div class="col-md-4"><%= link_to "PDF", @race.pdf.url, :target => "_blank", :class => "btn btn-warning btn_white btn-block", :disabled => @race.pdf.blank? %></div>
		<div class="col-md-4"><%= link_to "Editar", edit_admin_race_path(@race.id), :class => "btn btn-info btn_white btn-block"%></div>
		<div class="col-md-4"><%= link_to "Eliminar", admin_race_path(@race.id), method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger btn_white btn-block" %></div>
		<div class="col-md-12">
			<br>
			<p class="lead"><%= @race.description%></p>
		</div>
	</div>
</div>
<br>
<%= render :partial => "admin/img_races/index"%>