<div class="blog-top-img">
  <div class="effect-over"></div>
  <div class="container">
    <div class="col-lg-12">
      <h1 class="about4-top-title">Describe your<span class="color-txt"> experiences</span> with </h1>
      <h1 class="about4-top-title about4-top-second"><span class="color-txt">AngularJs</span> code.</h1>
    </div>
  </div> 
</div>
<div class="breadcrumb-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li>
            <a href="<%= root_path%>"><%= t('.home')%></a>
          </li>
          <li class="active"><%= t('.video')%></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="box-purchase" style="margin-bottom: 20px;">
      <%= render :partial => "/videos/filters"%>
    </div>

    <%- if params[:q]%>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th class="center">ID</th>
            <th class="center"><%= sort_link @search, :description, "Descripcion"%></th>
          </tr>
        </thead>
        <tbody>
          <% @videos.each do |video| %>
          <tr >
            <td class="center"><%= video.id %></td>
            <td class="center"><%= link_to video.title, video_path(video.id), :class => "link_to"  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <%= will_paginate @videos, :locals => { :videos => @videos }, renderer: BootstrapPagination::Rails%>
  <%end%>
</div>


