<%= render partial: "home/boxgallery"%>
<div class="city-bg">
    <div class="effect-cover"></div>
      <div class="well" style="margin-bottom: 0px;">
        <div class="row">
          <div class="container">
              <div class="col-md-12">
                    <h2 class="center"><%= t('.who_we_are')%></h2>
                    <h4>
                      <%if params[:locale] == "en"%>
                        FEDEPIT CANINE REGISTRY is focusing on the Union of he breeder and hobbyist to the professional world of purebred dogs. It is the only personalized registry in the world that will allow amateur breeders to make serious contributions to our breeds.
                        <br>
                        <br>
                       We have innovated and presented you some technology tools that will be important to get the process of breeding your Healthy , the look and the temperament Dog that you wanted. With us you can learn in many different areas of Canines like dog training , dog nutrition , dog handler for shows , dog sports and others. 
                        <br>
                        <br>
                        We yet may not be the biggest Registry out there But we are the FAVORITE ,  Thanks for choosing us WELCOME !
                        <br>
                        <br>
                       <%-else%>
                          FEDEPIT es el registro canino que se enfoca en la culturizacion del criador y aficionado al mundo profesional de los perros de raza. Es el único registro del mundo que de manera personalizada participa en la formación de criterios que le permitirán al criador y aficionado hacer aportes serios a nuestras razas.
                          <br>
                          <br>
                          Tenemos un gran número de herramientas a su disposición que le facilitaran el proceso de cría y el manejo de información. FEDEPIT es el único registro en el mundo con tecnología  de punta capaz de administrar el banco de genes de las diferentes razas. Un modelo exitoso del cual otros registros se quieren valer para implantarlo en países como los Estados Unidos. Somos una fuente de producción donde se origina el conocimiento necesario para mejorar los proyectos de cada criador convirtiéndolos en experimentados canofilos dispuestos a mejorar producción tras producción nuestras razas.
                          <br>
                          <br>
                          En FEDEPIT no sólo tendrá acceso a información sobre cría y selección, aquí aprenderá a manejar su mascota en diferentes áreas, desde un adiestramiento básico, deporte, manejo del perro de exposición, salud, reproducción etc...
                          <br>
                          <br>
                          En FEDEPIT la sabiduría te promueve.
                          <br>
                          <br>
                          Bienvenidos!
                      <%end%>
                    </h4>
                </div>
                <!-- <div class="col-md-4 img_quienes">
                   <br>
                   <br>
                   <img class="img-responsive" alt="" src="http://placehold.it/400x750">
                </div> -->
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>
<div class="parallax" id="clients-home2">
    <div class="black-shadow"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 team">
            <h1 class="section-title"><%= t('.dogs')%></h1>
                <% @canines.each do |canine| %>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
                     <img alt="" class="img-responsive" src="<%= pic_canine(canine)%>" style="height: 230px; width: 230px;">
                   <div class="mask"></div>
                    <div class="content">
                        <p><%= canine.name.upcase %> <br> <%= canine.try(:race).try(:name) %> <br> <%= canine.try(:breeder).try(:name) %></p>
                    </div>
                  </div>
                  <p><%= link_to canine.name, canine_path(id: canine.id)%></p>
                </div> 
                <% end %>
            </div>
          </div>
     </div>
</div>
<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <h2 class="section-heading">MyBreed</h2>
                    <ul class="mybreelist">
                      <%if params[:locale] == "en"%>
                        <li>My Breed an App for all who want to be different in a very own way.</li>
                        <li>The easiest way to customize every detail and assemble the 4 generation pedigree.</li>
                        <li>Share your art on your social networks.</li>
                        <li>See all canines that are in the database www.fedepit.com.</li>
                        <li>Interacts in different forums.</li>
                        <li>Follow and let continue your profile to publicize your canine.</li>
                        <li>Find partner to your dog.</li>
                        <li>Find them by their names dogs, promotes his pedigree of 4 generationsits and know his Future Puppies for Sale.</li>
                        <li>Create your profile as breeder.</li>
                      <%else%>
                        <li>MyBreed una App para todos los que quieren ser diferentes de una manera muy propia.</li>
                        <li>La forma más fácil de personalizar cada detalle y armar el pedigree de 4 generación.</li>
                        <li>Comparte tu arte en tus redes sociales</li>
                        <li>Consulta todos los caninos que estén en la base de datos www.fedepit.com</li>
                        <li>Interactúa en los diferentes foros</li>
                        <li>Sigue y deja que sigan tu perfil para dar a conocer tus caninos</li>
                        <li>Encuentra pareja a tu perro / perra</li>
                        <li>Une por nombre a dos perros y promociona el pedigree de 4 generaciones de tus futuros Cachorros en venta</li>
                        <li>Crear tu perfil como criador</li>
                      <%end%>
                    </ul>
                    <br>
                    <div class="row">
                      <div class="col-md-6">  <img alt="" src="/assets/google.png" class="img-responsive"></div>
                      <div class="col-md-6">  <img alt="" src="/assets/io.png" class="img-responsive"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <br><br>
                    <img alt="" src="/assets/devise1.png" class="img-responsive">
                </div>
                <br>
                <br>
            </div>

        </div>
        <!-- /.container -->

    </div>
<div class="home5-city-bg-bottom">
  <div class="well" style="margin-bottom: 0px;">
    <div class="container row-box">
      <div class="col-lg-12 col-md-12">
        <ul class="clients">
          <% @sponsors.each do |sponsor| %>
          <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Diesel">
          <a href="#">
           <%if sponsor.image.blank?%>
             <img alt="" class="img-responsive" src="http://placehold.it/560x391">
            <%else%>
             <img alt="" class="img-responsive" src="<%= sponsor.image%>">
           <%end%>
          </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

