<%= render partial: "home/boxgallery"%>
<div class="city-bg">
    <div class="effect-cover"></div>
      <div class="well" style="margin-bottom: 0px;">
        <div class="row">
          <div class="container">
              <div class="col-md-8">
                    <h2><%= t('.who_we_are')%></h2>
                    <h4><%= t('.who_description')%></h4>
                </div>
                <div class="col-md-4 img_quienes">
                   <img class="img-circle img-responsive img-center" alt="" src="http://placehold.it/200x200">
                </div>
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>
<div class="parallax" id="clients-home2">
    <div class="black-shadow"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 team">
            <h1 class="section-title"><%= t('.dogs')%></h1>
                <% @canines.each do |canine| %>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
                     <img alt="" class="img-responsive" src="<%= pic_canine(canine)%>" style="height: 230px; width: 230px;">
                   <div class="mask"></div>
                    <div class="content">
                        <p><%= canine.name.upcase %> <br> <%= canine.try(:race).try(:name) %> <br> <%= canine.try(:breeder).try(:name) %></p>
                    </div>
                  </div>
                  <p><%= canine.name %></p>
                </div> 
                <% end %>
            </div>
          </div>
     </div>
</div>
<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  <h2 class="section-heading">MyBreed</h2>
                    <ul class="mybreelist">
                      <li>MyBreed una App para todos los que quieren ser diferentes de una manera muy propia.</li>
                      <li>La forma más fácil de personalizar cada detalle y armar el pedigree de 4 generación</li>
                      <li>Comparte tu arte en tus redes sociales</li>
                      <li>Crear tu perfil como criador</li>
                    </ul>
                    <br>
                    <div class="row">
                      <div class="col-md-6">  <img alt="" src="/assets/google.png" class="img-responsive"></div>
                      <div class="col-md-6">  <img alt="" src="/assets/io.png" class="img-responsive"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img alt="" src="/assets/devise1.png" class="img-responsive">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
<div class="home5-city-bg-bottom">
  <div class="well" style="margin-bottom: 0px;">
    <div class="container row-box">
      <div class="col-lg-12 col-md-12">
        <ul class="clients">
          <% @sponsors.each do |sponsor| %>
          <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Diesel">
          <a href="#">
           <%if sponsor.image.blank?%>
             <img alt="" class="img-responsive" src="http://placehold.it/560x391">
            <%else%>
             <img alt="" class="img-responsive" src="<%= sponsor.image%>">
           <%end%>
          </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

