<div class="breadcrumb-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li>
            <a href="<%= root_path%>"><%=t ('.home')%></a>
          </li>
          <li class="active"><%=t ('.article')%></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% @events.each do |event| %>
    <a href="<%= event_path(event)%>">
      <div class="col-sm-4 col-xs-6">
        <div class="panel panel-default">
          <div class="panel-thumbnail">
            <% if event.img.blank?%>
            <img class="img-responsive" src="//placehold.it/450X300">
            <%else%>
            <img class="img-responsive" src="<%= event.img_url%>" style="width: 300px; height: 188px;">
            <%end%>
          </div>
          <div class="panel-body" style="padding: 10px;"> 
            <p class="lead"><%= event.name.upcase%></p>
            <p><%= truncate(event.description, :ommision => "", :length => 38)%><p>
            <span class="label label-warning pull-right">Seguir Leyendo...</span>
          </div>

        </div>
      </div> 
    </a> 
  <% end %>
  <div class="col-md-12">
  <%= will_paginate @events, :locals => { :events => @events }, renderer: BootstrapPagination::Rails%>
  </div>
</div>
