<div class="blog-top-img">
  <div class="effect-over"></div>
  <div class="container">
    <div class="col-lg-12">
      <h1 class="about4-top-title">Blog with <span class="color-txt">Right Sidebar</span> </h1>
    </div>
  </div> 
</div>
<div class="breadcrumb-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li>
            <a href="<%= root_path%>"><%= t('.home')%></a>
          </li>
          <li class="active"><%= t('.event')%></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <% @events.each do |event| %>
    <div class="row about-my-office">
        <div class="col-md-6">
          <%if event.img.blank?%>
            <img alt="" class="img-responsive" src="http://placehold.it/1200x800">
          <%else%>
            <img alt="" class="img-responsive" src="<%= event.img%>">
          <%end%>
        </div>
        <div class="col-md-6">
        <h2 class="t-title-office"><span><%= event.name%></span></h2>
        <p class="t-title-office"><%= event.created_at.strftime('%b - %d - %Y')%></p>
        <p><%= event.description%></p>  
        </div>
    </div>
    <% end %>
      <%= will_paginate @articles, :locals => { :articles => @articles }, renderer: BootstrapPagination::Rails%>

</div>
