<div class="container">
  <div class="row">
    <br>
    <div class="col-md-8">
      <h1><%= @event.name%></h1>
      <% if @event.img.blank?%>
        <img class="img-responsive" src="//placehold.it/900X300">
      <%else%>
        <img class="img-responsive" src="<%= @event.img_url%>" style="width: 900px; height: 300px;">
      <%end%>
      <hr>
      <div class="row">
        <div class="col-md-6"><p><i class="fa fa-calendar"></i></span> <%= @event.date.strftime('%b  %d  %Y')%></p></div>      
        <div class="col-md-6"><p><i class="fa fa-map-marker"></i></span> <%= @event.place%></p></div>
      </div>
      <hr>
      <p class=""><%= @event.description%></p>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h4>Ultimos Eventos</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <% @events.each do |event| %>
                <li><a href="<%= event_path(event.id)%>"><%= event.name%></a>
                <%end%> 
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>