<%= form_for(@category_championship) do |f| %>
  <% if @category_championship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_championship.errors.count, "error") %> prohibited this category_championship from being saved:</h2>

      <ul>
      <% @category_championship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :race_id %><br>
    <%= f.number_field :race_id %>
  </div>
  <div class="field">
    <%= f.label :age_min %><br>
    <%= f.number_field :age_min %>
  </div>
  <div class="field">
    <%= f.label :age_max %><br>
    <%= f.number_field :age_max %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.text_field :period %>
  </div>
  <div class="field">
    <%= f.label :variety_id %><br>
    <%= f.number_field :variety_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
