<p id="notice"><%= notice %></p>

<p>
  <strong>Race:</strong>
  <%= @category_championship.race_id %>
</p>

<p>
  <strong>Age min:</strong>
  <%= @category_championship.age_min %>
</p>

<p>
  <strong>Age max:</strong>
  <%= @category_championship.age_max %>
</p>

<p>
  <strong>Period:</strong>
  <%= @category_championship.period %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @category_championship.variety_id %>
</p>

<%= link_to 'Edit', edit_category_championship_path(@category_championship) %> |
<%= link_to 'Back', category_championships_path %>
