<!-- Modal -->
<div class="modal fade" id="myModalSponsor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar Patrocinadores</h4>
      </div>
      <div class="modal-body">
        <%= form_for @sponsor , url: admin_sponsors_path(@sponsor) , method: :post do |f| %>
        <div class="field">
          <%= f.label :Nombre %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :url %><br>
          <%= f.text_field :url , class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :Imagen %><br>
          <%= f.file_field :image %>
        </div>

        <div class="actions">
          <%= f.submit :class =>"btn btn-primary btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>