<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1><%= @sponsor.name.upcase%></h1>
    </div>
  </div>
</div>
<div class="modal-body">
  <%= form_for @sponsor , url: admin_sponsor_path(@sponsor), :id => @sponsor.id , method: :put do |f| %>
  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
          <%= f.label :Correo %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url , class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :Imagen %><br>
    <%- if f.object && f.object.image && f.object.image%>
      <%= image_tag(f.object.image.to_s, :transformation => 'hint', alt: f.object.image.to_s)%>
      <%= f.file_field :image %>
      <%else%>
      <%= f.file_field :image %>
    <%end %>
  </div>

  <div class="actions">
    <%= f.submit :class =>"btn btn-primary btn-block" %>
  </div>
  <% end %>
</div>