<%= form_for(@type_breeder) do |f| %>
  <% if @type_breeder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_breeder.errors.count, "error") %> prohibited this type_breeder from being saved:</h2>

      <ul>
      <% @type_breeder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
