<!-- Modal -->
<div class="modal fade" id="myModal<%=canine.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">CARACTERÍSTICAS HEREDADAS DEL <%= canine.name.upcase%></h4>
      </div>
      <div class="modal-body">
        <ul>
          <% enviar_cruce(canine).each do |feature| %>
          <li>
            <% average =  (feature[1].to_f/$total_children) * 100 %>
            <span> No. de hijos con <%= names(feature[0])%>: <%= feature[1]%></span>
            <br>
            <span>su porcentaje es de :</span>
            <span class="color-txt"> 
              <%= number_to_percentage(average, precision: 0) %>
            </span>
          </li>
          <%end%>
        </ul> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
      </div>
    </div>
  </div>
</div>

