<table class="table table-striped responstable">
  <tr>
    <th class="center"><span>Nombre</span></th>
    <th class="center">COI</th>
    <th class="center">COUNT</th>
    <th class="center">MIN GEM </th>
    <th class="center">% OF  BLOOD</th>
    <th class="center">COR</th>
  </tr>
  <%@array_canine_level = []%>
  <%@array_canine_temp = []%>
  <%@array_level_blood = []%>

  <% @canines.each do |canine| %>
    <% get_ancestors(canine).each do |can|%>
        <% @canine = Canine.find(can)%>
        <% nivel(canine, can)%>
        <%array_canine = [@canine, $level]%>
        <%array_blood = [@canine.id, nivel_consa($level)]%>
        <%@array_canine_level << array_canine%>
        <%@array_canine_temp << @canine.id%>
        <%@array_level_blood << array_blood%>
    <%end%>
    <% @array_canine_level = @array_canine_level.sort { |a, b| a[1] <=> b[1] }%>
    <% @array_canine_level.each do |canine|%>
      <tr>
            <th class="center"><%= canine[0].name.upcase%></th>
            <% @array_canines_id = get_ancestors_2(Canine.find(canine[0].id))%>
            <% cor(@array_canines_id.uniq)%>
            <%count_2 ||= 0%>
            <%@graph.searchPath(canine[0].id.to_s,canine[0].rgt.to_s, []) { |path|%>
              <%if path.size != 2%>
                <% count_2 +=(1/2.to_f) ** (path.size - 1)%>
              <%end%>
            <%}%>
            <th class="center"><%=count_2 * 100%> %</th>
            <%@tree.clear %>
            <th class="center"><%= count_of_element @array_canine_temp, canine[0].id%></th>
            <th class="center"><%= canine[1]%></th>
            <th class="center"><%= nivel_consa(canine[1])%> %</th>
            <% count ||= 0%>
            <% @array_level_blood.each do|subarray| %>
              <% if subarray[0] ==  canine[0].id%> 
                <% count+= subarray[1]%>
              <%end%>
            <%end%>
            <th class="center"><%= count%> %</th>
        </tr>
    <%end%>

  <% end %>
</table> 


