<script>
  var projects = [];
  <% @canines = Canine.all%>
  <%@canines.each do |canine|%>
    projects.push({ value: '<%=canine.name%>',label: '<%=canine.name%>', desc: '<%=canine.id%>'})
  <%end%>
  <%@canines.each do |canine|%>
    projects.push({ value: '<%=canine.lof%>',label: '<%=canine.lof%>', desc: '<%=canine.id%>'})
  <%end%>
      
  $(function() {
    
    $( "#canine_father_lof" ).autocomplete({
      minLength: 0,
      source: projects,
      focus: function( event, ui ) {
        $( "#canine_father_lof" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#canine_father_lof" ).val( ui.item.label );
        $( "#project-id" ).val( ui.item.value );
        $( "#project-description" ).html( ui.item.desc );
       
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
 
<div id="project-label">Select a project (type "j" for a start):</div>
<input id="canine_father_lof">
<input type="hidden" id="project-id">
<p id="project-description"></p>
