<div class="row">
  <h1 class="page-header">Cruces Caninos</h1>
  <div class="col-md-6">
    <table class="table table-striped responstable">
      <tr>
        <th class="center"><span>Nombre</span></th>
        <th class="center">COR</th>
        <th class="center">COUNT</th>
        <th class="center">Generación</th>
        <th class="center">% Sangre </th>
        <th class="center">% Sangre rp</th>
      </tr>
      <%@array_canine_level = []%>
      <%@array_canine_temp = []%>
      <%@array_level_blood = []%>
      
      <%get_ancestors(@canine).each do |id|%>
        <% @canine = Canine.find(id)%>
        <% nivel(Canine.find(params[:id]), id)%>
        <%array_canine = [@canine, $level]%>
        <%array_blood = [@canine.id, nivel_consa($level)]%>
        <%@array_canine_level << array_canine%>
        <%@array_canine_temp << @canine.id%>
        <%@array_level_blood << array_blood%>
      <%end%>
      <% @array_canine_level = @array_canine_level.sort { |a, b| a[1] <=> b[1] }%>
      <% @array_canine_level.each do |canine|%>
        <tr>
            <th class="center"><%= canine[0].name.upcase%></th>
            <th class="center"></th>
            <th class="center"><%= count_of_element @array_canine_temp, canine[0].id%></th>
            <th class="center"><%= canine[1]%></th>
            <th class="center"><%= nivel_consa(canine[1])%> %</th>
            <% count ||= 0%>
            <% @array_level_blood.each do|subarray| %>
              <% if subarray[0] ==  canine[0].id%> 
                <% count+= subarray[1]%>
              <%end%>
            <%end%>
            <th class="center"><%= count%> %</th>
        </tr>
      <%end%>
      
    </table>
  </div>
  <div class="col-md-6">
    <div class="row">
      <%= search_form_for @search, url: admin_mergecanines_path , :remote=>"true", :method => :get do |f|%>
        <div class="col-md-6">
          <%= f.collection_select :id_eq, Canine.all, :id, :name, include_blank: true %>
        </div>
        <div class="col-md-6">
          <%= f.submit "Refrescar" , :class =>"btn btn-primary btn-block"%>
        </div>
      <%end%>
    </div>
    <br>
    <div id="table_canine"><%= render partial: '/admin/home/mergecanines' %></div>
  </div>
</div>