$('#merge').show();
$('#merge').html('<%= escape_javascript(render("/admin/home/index")) %>');

var canines = [];
<% @canines_male = @canines.where(gender: "0")%>
<%@canines_male.each do |canine|%>
canines.push({ value: '<%=canine.name%>',label: '<%=canine.name%>', desc: '<%=canine.id%>'})
<%end%>
<%@canines_male.each do |canine|%>
canines.push({ value: '<%=canine.lof%>',label: '<%=canine.lof%>', desc: '<%=canine.id%>'})
<%end%>

$(function() {

	$( "#merge_father_lof" ).autocomplete({
		minLength: 0,
		source: canines,
		focus: function( event, ui ) {
			$( "#merge_father_lof" ).val( ui.item.label );
			return false;
		},
		select: function( event, ui ) {
			$( "#merge_father_lof" ).val( ui.item.label );
			$( "#merge_canine_id_1" ).val( ui.item.desc );
			return false;
		}
	})
	.autocomplete( "instance" )._renderItem = function( ul, item ) {
		return $( "<li>" )
		.append( "<a>" + item.label + "</a>" )
		.appendTo( ul );
	};
});

var canines_2 = [];
<% @canines_female = @canines.where(gender: "1")%>
<%@canines_female.each do |canine|%>
canines_2.push({ value: '<%=canine.name%>',label: '<%=canine.name%>', desc: '<%=canine.id%>'})
<%end%>
<%@canines_female.each do |canine|%>
canines_2.push({ value: '<%=canine.lof%>',label: '<%=canine.lof%>', desc: '<%=canine.id%>'})
<%end%>

$(function() {

	$( "#merge_mother_lof" ).autocomplete({
		minLength: 0,
		source: canines_2,
		focus: function( event, ui ) {
			$( "#merge_mother_lof" ).val( ui.item.label );
			return false;
		},
		select: function( event, ui ) {
			$( "#merge_mother_lof" ).val( ui.item.label );
			$( "#merge_canine_id_2" ).val( ui.item.desc );
			return false;
		}
	})
	.autocomplete( "instance" )._renderItem = function( ul, item ) {
		return $( "<li>" )
		.append( "<a>" + item.label + "</a>" )
		.appendTo( ul );
	};
});
