<%= javascript_include_tag "welcome"%>
<div id="page-wrapper">
  <div class="row">
    <div id="skull"class="col-lg-12" data-skullgt="<%= @features.sort_by {|obj| obj.skull_width}.first.skull_width.to_i%>" data-skulllt="<%= @features.sort_by {|obj| obj.skull_width}.last.skull_width.to_i%>">
      <h1 class="page-header">Filtros de Busqueda  Cruce</h1>
    </div>
    <div class="modal-body">
      <%= search_form_for @search, url: admin_realizarcruce_path(:merge => true), :remote=>"true", :method => :get do |f|%>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><label for="feature_cabeza">Cabeza</label><br></h3>
              </div>
              <div class="panel-body">
                <div class="field col-xs-3">
                  <p>
                    <label for="amount">Ancho de Cráneo:</label>
                    <br>
                    <input type="text" id="skull_width" readonly style="border:0;">
                  </p>
                  <div class="slider-range"></div>
                  <%= f.hidden_field :feature_skull_width_gt %>
                  <%= f.hidden_field :feature_skull_width_lt %>
                </div>
                <div class="field col-xs-3">
                  <p>
                    <label for="skull_diameter">Diametro del Cráneo:</label>
                    <br>
                    <input type="text" id="skull_diameter" readonly style="border:0;">
                  </p>
                  <div id="feature_skull_diameter" ></div>
                  <%= f.hidden_field :feature_skull_diameter_gt %>
                  <%= f.hidden_field :feature_skull_diameter_lt %>
                </div>
                <div class="field col-xs-3">
                  <p>
                    <label>Longitud del Cráneo:</label>
                    <br>
                    <input type="text" id="skull_length" readonly style="border:0;">
                  </p>
                  <div id="feature_skull_length" ></div>
                  <%= f.hidden_field :feature_skull_length_gt %>
                  <%= f.hidden_field :feature_skull_length_lt %>
                </div>
                <div class="field col-xs-3">
                  <p>
                    <label>Porcentaje Cráneo:</label>
                    <br>
                    <input type="text" id="skull_percentage" readonly style="border:0;">
                  </p>
                  <div id="feature_skull_percentage" ></div>
                  <%= f.hidden_field :feature_skull_percentage_gt %>
                  <%= f.hidden_field :feature_skull_percentage_lt %>
                </div>
                <div class="field col-xs-3">
                  <p>
                    <label >Alto de la cabeza:</label>
                    <br>
                    <input type="text" id="head_length" readonly style="border:0;">
                  </p>
                  <div id="feature_head_length" ></div>
                  <%= f.hidden_field :feature_head_length_gt %>
                  <%= f.hidden_field :feature_head_length_lt %>
                </div>
                <div class="field col-xs-3">
                  <p>
                    <label for="amount">Longitud de la cabeza:</label>
                    <br>
                    <input type="text" id="skull_high" readonly style="border:0;">
                  </p>
                  <div id="feature_skull_high" ></div>
                  <%= f.hidden_field :feature_skull_high_gt %>
                  <%= f.hidden_field :feature_skull_high_lt %>
                </div>
                <div class="field col-xs-3">
                  <p>
                    <label for="amount"> Alto ocico con respecto al cráneo:</label>
                    <br>
                    <input type="text" id="muzzle_high_skull" readonly style="border:0;">
                  </p>
                  <div id="feature_muzzle_high_skull" ></div>
                  <%= f.hidden_field :feature_muzzle_high_skull_gt %>
                  <%= f.hidden_field :feature_muzzle_high_skull_lt %>
                </div>
                <div class="field col-xs-3">
                  <p>
                    <label for="amount"> Alto ocico con respecto al cráneo:</label>
                    <br>
                    <input type="text" id="muzzle_high" readonly style="border:0;">
                  </p>
                  <div id="feature_muzzle_high_skull" ></div>
                  <%= f.hidden_field :feature_muzzle_high_skull_gt %>
                  <%= f.hidden_field :feature_muzzle_high_skull_lt %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><label for="feature_cabeza">Calidad muscular</label><br></h3>
              </div>
              <div class="panel-body">
                <div class="field col-lg-6">
                  <p>
                    <label for="amount">Calidad muscular:</label>
                    <br>
                    <input type="text" id="muscular_general" readonly style="border:0;">
                  </p>
                  <div id="feature_muscular_general" ></div>
                  <%= f.hidden_field :feature_muscular_general_gt %>
                  <%= f.hidden_field :feature_muscular_general_lt %>
                </div>
                <div class="field col-lg-6">
                  <p>
                    <label >Maseteros o Pronunciación de Mejillas::</label>
                    <br>
                    <input type="text" id="muscular_masetero" readonly style="border:0;">
                  </p>
                  <div id="feature_muscular_masetero" ></div>
                  <%= f.hidden_field :feature_muscular_masetero_gt %>
                  <%= f.hidden_field :feature_muscular_masetero_lt %>
                </div>
                <div class="field col-lg-6">
                  <p>
                    <label >Músculos parietales:</label>
                    <br>
                    <input type="text" id="muscle_parietale" readonly style="border:0;">
                  </p>
                  <div id="feature_muscle_parietale" ></div>
                  <%= f.hidden_field :feature_muscle_parietale_gt %>
                  <%= f.hidden_field :feature_muscle_parietale_lt %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><label for="feature_cabeza">Cuerpo</label><br></h3>
              </div>
              <div class="panel-body">
                <div class="field col-lg-12">
                  <p>
                    <label for="amount">Largo Cuerpo:</label>
                    <br>
                    <input type="text" id="body_long" readonly style="border:0;">
                  </p>
                  <div id="feature_body_long" ></div>
                  <%= f.hidden_field :feature_body_long_gt %>
                  <%= f.hidden_field :feature_body_long_lt %>
                </div>
                <div class="field col-lg-12">
                  <p>
                    <label >Alzada:</label>
                    <br>
                    <input type="text" id="body_raised" readonly style="border:0;">
                  </p>
                  <div id="feature_body_raised" ></div>
                  <%= f.hidden_field :feature_body_raised_gt %>
                  <%= f.hidden_field :feature_body_raised_lt %>
                </div>
                <div class="field col-lg-12">
                  <p>
                    <label >Diametro tórax:</label>
                    <br>
                    <input type="text" id="diamter_thorax" readonly style="border:0;">
                  </p>
                  <div id="feature_diamter_thorax" ></div>
                  <%= f.hidden_field :feature_diamter_thorax_gt %>
                  <%= f.hidden_field :feature_diamter_thorax_lt %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><label for="feature_cabeza">Mordida</label><br></h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="bite_pin_true">Pinza<br>
                    <%= f.hidden_field :feature_bite_pin_true %>
                   </label>
                   <label>
                    <input type="checkbox" id="bite_crusade_inside">Cruzada interior<br>
                    <%= f.hidden_field :feature_bite_crusade_inside_true %>
                   </label>
                   <label>
                    <input type="checkbox" id="bite_prognato">Prognato<br>
                    <%= f.hidden_field :feature_bite_prognato_true %>
                   </label>
                   <label>
                    <input type="checkbox" id="bite_enognato">Enognato<br>
                    <%= f.hidden_field :feature_bite_enognato_true %>
                   </label>
                   <label>
                    <input type="checkbox" id="bite_fork_inverted">Tijera invertida<br>
                    <%= f.hidden_field :feature_bite_fork_inverted_true %>
                   </label>
                   <label>
                    <input type="checkbox" id="bite_right">Correcta<br>
                    <%= f.hidden_field :feature_bite_right_true %>  
                   </label>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><label for="feature_cabeza">Piezas dentales</label><br></h3>
              </div>
              <div class="panel-body">
                <div class="checkbox">
                   <label>
                    <input type="checkbox" id="dental_full_true">Completo<br>
                    <%= f.hidden_field :feature_dental_full_true %>
                   </label>
                   <label>
                    <input type="checkbox" id="dental_incisor_true">Ausencia de canino<br>
                    <%= f.hidden_field :feature_dental_incisor_true %>
                   </label>
                   <label>
                    <input type="checkbox" id="dental_canine_true">Ausencia de premolar<br>
                    <%= f.hidden_field :feature_dental_canine_true %>
                   </label>
                   <label>
                    <input type="checkbox" id="dental_molar_true">Ausencia de incisivo<br>
                    <%= f.hidden_field :feature_dental_molar_true %>
                   </label>
                    <label>
                    <input type="checkbox" id="dental_premolar_true">Ausencia de molar<br>
                    <%= f.hidden_field :feature_dental_premolar_true %>
                   </label>
                </div>
              </div>
            </div>
          </div>
          

          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <%= f.submit :class =>"btn btn-primary btn-block"%>
              </div>
              <div class="col-lg-6">
                <%= link_to "Eliminar Busqueda", request.path, class:"btn btn-danger btn_white btn-block"%>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
<div id="merge"><%= render partial: '/admin/home/index' %></div>