<%= javascript_include_tag "welcome"%>
<div id="page-wrapper">
  <div class="row">
    <div id="skull"class="col-lg-12" data-skullgt="<%= @features.sort_by {|obj| obj.skull_width}.first.skull_width.to_i%>" data-skulllt="<%= @features.sort_by {|obj| obj.skull_width}.last.skull_width.to_i%>">
      <h1 class="page-header">Filtros de Busqueda  Cruce</h1>
    </div>
    <div class="modal-body">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filtros</button>
      <div class="top-buffer"></div>
      <div class="collapse" id="collapseExample">
        <div class="well">
          <%= search_form_for @search, url: admin_realizarcruce_path(:merge => true), :remote=>"true", :method => :get do |f|%>
              <div class="row">
                
              </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <div id="merge"><%= render partial: '/admin/home/index' %></div>