<%= javascript_include_tag "welcome"%>
<div class="row">
  <div id="skull"class="col-lg-12">
    <h1 class="page-header">Filtros de Busqueda Cruce</h1>
</div>
<div class="modal-body">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filtros</button>
    <div class="top-buffer"></div>
    <div class="collapse" id="collapseExample">
      <div class="well">
        <%= search_form_for @search, url: admin_realizarcruce_path(:merge => true), :remote=>"true", :method => :get do |f|%>
        <div class="row">
            <div class="col-md-3">
                <legend>Aspecto General</legend>
                <%= f.select :feature_general_appearance_eq , [["Excelente", "0"],["Muy Buena", "1"],["Buena", "2"],["Insuficiente", "3"]], {prompt: "Aspecto General"}, {class: "form-control"}%>
                <br>
                <legend>Cabeza</legend>
                <%= f.select :feature_typical_head_eq , [["Excelente", "0"],["Buena", "1"],["Insuficiente", "2"]], {prompt: "Tipicidad"}, {class: "form-control"}%>
                <br>
                <legend>Orejas</legend>
                <%= f.select :feature_ears_eq, [["Alta", "0"],["Media", "1"],["Baja", "2"]], {prompt: "Incersión"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_shape_ears_eq , [["Cirugia E.", "0"],["Triangular Caída", "1"],["Semi-Caída", "2"],["Semi-Erecta", "3"],["Rosa", "4"]], {prompt: "Forma"}, {class: "form-control"}%>
                <br>
                <legend>Ojos</legend>
                <%= f.select :feature_shape_eyes_eq, [["Redondos", "0"],["Almendrados", "1"],["Ovalados", "2"],["Triangulares", "3"]], {prompt: "Forma"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_eyes_placement_eq, [["Saltones", "0"],["Profundos", "1"],["A Nivel", "2"]], {prompt: "Colocación"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_color_eyes_eq, [["Oscuros", "0"],["Claros", "1"],["Mixtos", "2"],["Rojos", "3"],["Nublados", "4"]], {prompt: "Color"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_eyelid_abnormalities_eq, [["Entropión", "0"],["Ectropión", "1"]], {prompt: "Alteración De Parpado"}, {class: "form-control"}%>
                <br>
                <legend>Cuello</legend>
                <br>
                <%= f.select :feature_neck_eq , [["Corto", "0"],["Medio", "1"],["Alto", "2"]], {prompt: "longitud"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_appearance_eq, [["Normal", "0"],["Curva Fuerte y Muscular", "1"]], {prompt: "Apariencia"}, {class: "form-control"}%>
                <br>
                <legend>Hombros</legend>
                <br>
                <%= f.select :feature_shoulder_eq, [["Cargados", "0"],["Medios", "1"],["Alargados", "2"],["Planos", "3"]], {prompt: "hombros"}, {class: "form-control"}%>
            </div>
            <div class="col-md-3">
                <legend>Cabeza</legend>
                <%= f.select :feature_head_measures_eq , [["Dimensión De Craneo", "0"],["Alto Del Craneo", "1"],["Ancho Del Craneo", "2"]], {prompt: "Medidas"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_flat_head_eq, [["Divergente", "0"],["Convergente", "1"],["Paralelo", "2"]], {prompt: "Planos De Cabeza"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_head_shape_eq , [["Corta y Redonda", "0"],["Acuñada", "1"],["Braquicefala", "2"],["Dolicocefala", "3"],["Mesocefala", "4"]], {prompt: "Forma"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_head_shape_eq, [["Agudo Marcado", "0"],["Marcado Con Surco", "1"],["Leve Inclinado", "2"]], {prompt: "stop"}, {class: "form-control"}%>
                <br>
                <legend>Hocico</legend>
                <%= f.select :feature_snout_eq , [["Largo", "0"],["Corto", "1"],["Chato", "2"],["Chato e Inclinado", "3"]], {prompt: "Hocico"}, {class: "form-control"}%>
                <br>
                <legend>Nariz</legend>
                <%= f.select :feature_nouse_eq, [["Despigmentada", "0"],["Respingada", "1"],["Aguileña", "2"],["Normal", "3"]], {prompt: "Nariz"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_nose_nostrils_eq, [["Normales", "0"],["Visibles", "1"],["Estrechos", "2"]], {prompt: "Ollares"}, {class: "form-control"}%>
                <br>
                <legend>Cuerpo</legend>
                <%= f.select :feature_upper_body_eq, [["Correcta", "0"],["Descendente", "1"],["Cruz Undida", "2"],["Dorso Cargado de Hombro", "3"],["", "4"]], {prompt: "Linea Superior"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_body_alterations_eq , [["Con Lomo Arqueado", "0"],["Dorso Encarpado o Cifosis", "1"],["Lordosis o cóncavo", "2"],["Dorso Cargado de Hombro", "3"]], {prompt: "Alteraciones"}, {class: "form-control"}%>
                <br>
                <legend>Calidad Muscular</legend>
                <br>
                <%= f.select :feature_muscle_quality_eq , [["5 estrellas", "0"],["4 estrellas", "1"],[" 3 estrellas", "2"],["Insuficiente", "2"],["Gordo", "2"],["Por debajo de su peso", "2"]], {prompt: "calidas muscular"}, {class: "form-control"}%>
                <br>
                <legend>Color</legend>
                <br>

                <%= f.collection_select :feature_color_cont, Color.all, :name, :name, {prompt: "Color"}, {class: "form-control"}%>
                
            </div>
            <div class="col-md-3">
                <legend>Labios</legend>
                <%= f.select :feature_lips_eq, [["De Belfos Pendulosos", "0"],["De Belfos Apretados", "1"],["Normales", "2"]], {prompt: "labios"}, {class: "form-control"}%>
                <br>
                <legend>Hocico</legend>
                <%= f.select :feature_snout_2_eq, [["Alto De Bozal", "0"],["Longitud Del Bozal", "1"],["En Punta", "2"],["Terminado Recto", "3"], ["Con Arrugas Visibles",4]], {prompt: "Hocico"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_cigamatico_snout_eq, [["Pronunciado", "0"],["Moderado", "1"],["Ausente", "2"]], {prompt: "Cigomaticos"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_supracillares_snout_eq , [["Pronunciado", "0"],["Moderado", "1"],["Level", "2"]], {prompt: "Supracillares"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_cheek_eq , [["Pronunciado", "0"],["Moderado", "1"],["Ausente", "2"]], {prompt: "Mejillas"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_bite_eq , [["Correcta Tijera", "0"],["Tijera Inversa", "1"],["Prognatismo Avanzado", "2"],["Tenazas", "3"],["Enognatismo", "4"],["Cruzadas Anterior", "5"]], {prompt: "Mordida"}, {class: "form-control"}%>
                <br>
                <legend>Posteriores</legend>
                <%= f.select :feature_after_moving_eq , [["Juntas De Atras", "0"],["Corvenjón Inmovil", "1"],["Roza Corvejones", "2"],["Correcto", "3"]], {prompt: "En Movimiento"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_subsequent_static_eq , [["Corvejones De Vacas", "0"],["Corecto", "1"],["Corvejon Inmovil", "2"]], {prompt: "En Estatico"}, {class: "form-control"}%>
                <br>
                <legend>Cola</legend>
                <br>
                <%= f.select :feature_shaped_tail_eq , [["Correcta", "0"],["Partida", "1"],["En Espiral", "2"],["Anudada", "3"],["De Bulldog", "4"],["Desviada", "5"]], {prompt: "Forma"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_tail_length_eq , [["Correcta", "0"],["Larga", "1"],["Corta", "2"]], {prompt: "Largo"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_tail_movement_eq , [["Horizontal", "0"],["Vertical", "1"],["En Caída Normal", "2"]], {prompt: "Movimiento"}, {class: "form-control"}%>
            </div>
            <div class="col-md-3">
                <legend>Dentadura</legend>
                <%= f.select :feature_teeth_eq , [["Completa", "0"],["Incompleta", "1"]], {prompt: "Dentadura"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_deciduous_tooth_eq , [["Recto", "0"],["En Arco", "1"],["Desalineados", "2"]], {prompt: "Alineación Incisivos"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_canines_eq , [["Tamaño Normal", "0"],["Muy Pequeños", "1"],["Fracturados", "2"]], {prompt: "Caninos"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_molar_tooth_eq , [["Tamaño Normal", "0"],["Muy Pequeños", "1"]], {prompt: "Molares"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_premolar_tooth_eq, [["Tamaño Normal", "0"],["Muy Pequeños", "1"]], {prompt: "Premolares"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_deciduous_eq, [["Pronunciados", "0"],["Moderados", "1"],["Leves", "2"]], {prompt: "Temporales"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_jowl_eq, [["Visible", "0"],["Exagerada", "1"],["Limpia", "2"]], {prompt: "Papada"}, {class: "form-control"}%>
                <br>
                <legend>Aplomos</legend>
                <br>
                <%= f.select :feature_moving_poise_eq, [["Codos Salidos Hacia Afuera", "0"],["Cruzamiento De Metacarpos", "1"],["Torsión De Las Manos", "2"],["Hacia Afuera", "3"]], {prompt: "En Movimiento"}, {class: "form-control"}%>
                <br>
                <%= f.select :feature_static_poise_eq , [["Codos hacia afuera", "0"],["Codos Hacia Adentro", "1"],["Torsión De Las Manos Hacia Afuera", "2"]], {prompt: "Estaticos"}, {class: "form-control"}%>
                <br>
                <legend>Pecho</legend>
                <br>
                <%= f.select :feature_chest_eq , [["Profundo", "0"],["Plano", "1"],["Amplio", "2"]], {prompt: "Pecho"}, {class: "form-control"}%>
                <br>
                <legend>Movimiento</legend>
                <%= f.select :feature_motion_eq, [["Excelente", "0"],["Bueno", "1"],["Suficiente", "2"]], {prompt: "Movimiento"}, {class: "form-control"}%>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <%= f.submit :class =>"btn btn btn-primary btn-block"%>
            </div>
            <div class="col-md-6">
                <%= link_to "Borrar Filtros", request.path, class:"btn btn-danger btn_white btn-block"%>
            </div>
        </div>
        <%end%>
    </div>
</div>
</div>
</div>
<div id="merge"><%= render partial: '/admin/home/index' %></div>