<div class="row">
	<div class="col-lg-12">
		<div class="form-group container m40px">
			<h3> Realizar Cruce</h3>
	    	<hr>
	    	<%- if params[:merge]%>
		    	<%= form_for :merge , url: admin_enviar_cruce_path, method: :post do |f| %>
					<label>Nombre Primer Ejemplar</label>
					<%= autocomplete_field_tag('canine_name', '', autocomplete_canine_name_admin_canines_path, :id_element => '#merge_canine1', :class => "form-control")%>
					<%= f.hidden_field :canine_id, id: "merge_canine1"%>
					  <br>
					<label>Nombre Segundo Ejemplar</label>
					<%= autocomplete_field_tag('canine_name', '', autocomplete_canine_name_admin_canines_path, :id_element => "#merge_canine2", :class => "form-control")%>
					<%= f.hidden_field :canine_id_2, id: "merge_canine2"%>
					<%= f.submit :class =>"btn btn-primary btn-block" %>
				<%end%>
				<hr>
			<%end%>
		</div>
		<%- if params[:status]%>
			<div class="row">
				 <%= render :partial => "admin/canines/metter_cruce1"%>
				 <%= render :partial => "admin/canines/metter_cruce2"%>
			</div>
		<%end%>
	</div>
</div>
