<% children(@canine.id).each do |canine|%>
  <%- if params[:controller].split("/").first == "admin"%>
    <a href="<%= admin_canine_path(id: canine.id)%>">
  <%else%>
    <a href="<%= canine_path(id: canine.id)%>">
  <%end%>
    <div class="alert alert-success row" style="margin-left: 0px; margin-right: 0px;">
      <div class="col-md-2">
        <%if canine.images.last.blank? %>
          <%= image_tag "placeholder.png", :class => "thumbnail", :size => '100x100'%>
        <%else%>
          <%= image_tag canine.images.last.file, :class => "thumbnail", :size => '100x100'%>
        <%end%>
      </div>
      <div class="col-md-10">
        <strong>Nombre: </strong><span><%= canine.name%></span>
        <br>
        <strong>LOF: </strong><span><%= canine.lof%></span>
        <br>
        <strong>Sexo: </strong><span><%= gender(canine.gender)%></span>
        <br>
        <strong>Nacimiento: </strong><span><%= canine.birth%></span>
      </div>
    </div>
  </a>
<%end%>
