<script>
  var projects = [];
  <% @canines = Canine.where(gender: "1").order(name: :asc)%>
  <%@canines.each do |canine|%>
    projects.push({ value: '<%=canine.name%>',label: '<%=canine.name%>', desc: '<%=canine.id%>'})
  <%end%>
  <%@canines.each do |canine|%>
    projects.push({ value: '<%=canine.lof%>',label: '<%=canine.lof%>', desc: '<%=canine.id%>'})
  <%end%>
      
  $(function() {
    
    $( "#canine_father_lof" ).autocomplete({
      minLength: 0,
      source: projects,
      focus: function( event, ui ) {
        $( "#canine_father_lof" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#canine_father_lof" ).val( ui.item.label );
        $( "#canine_lft" ).val( ui.item.desc );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
  
  <script>
  var projects_2 = [];
  <% @canines = Canine.where(gender: "0").order(name: :asc)%>
  <%@canines.each do |canine|%>
    projects_2.push({ value: '<%=canine.name%>',label: '<%=canine.name%>', desc: '<%=canine.id%>'})
  <%end%>
  <%@canines.each do |canine|%>
    projects_2.push({ value: '<%=canine.lof%>',label: '<%=canine.lof%>', desc: '<%=canine.id%>'})
  <%end%>
      
  $(function() {
    
    $( "#canine_mother_lof" ).autocomplete({
      minLength: 0,
      source: projects_2,
      focus: function( event, ui ) {
        $( "#canine_mother_lof" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#canine_mother_lof" ).val( ui.item.label );
        $( "#canine_rgt" ).val( ui.item.desc );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
  <script>
  var projects_3 = [];
  <% @breeders = Breeder.all.order(name: :asc)%>
  <%@breeders.each do |breeder|%>
    projects_3.push({ value: '<%=breeder.name%>',label: '<%=breeder.name%>', desc: '<%=breeder.id%>'})
  <%end%>
      
  $(function() {
    
    $( "#canine_breeder" ).autocomplete({
      minLength: 0,
      source: projects_3,
      focus: function( event, ui ) {
        $( "#canine_breeder" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#canine_breeder" ).val( ui.item.label );
        $( "#canine_breeder_id" ).val( ui.item.desc );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });

  var projects_4 = [];
  <% @colors = Color.all.order(name: :asc)%>
  <%@colors.each do |color|%>
    projects_4.push({ value: '<%=color.name%>',label: '<%=color.name%>', desc: '<%=color.name%>'})
  <%end%>
  $(function() {
    
    $( "#canine_color" ).autocomplete({
      minLength: 0,
      source: projects_4,
      focus: function( event, ui ) {
        $( "#canine_color" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#canine_color" ).val( ui.item.label );
        $( "#canine_color" ).val( ui.item.desc );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
<div class="row">
  <div class="col-md-12">
    <h2>Nuevo Ejemplar</h2>
  </div>
  <%= form_for @canine , url: admin_canines_path(@canine) , :html => { :multipart => true } do |f| %>
    <% if @canine.errors.any? %>
      <br>
      <br>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>No se puede crear este canino:</strong>
        <ul>
          <% @canine.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>  
      
    <div class="col-md-6">
      <%= f.label :criador %> <%= link_to "Agregar criador", new_admin_breeder_path()%>
      <%= f.text_field :breeder, class: 'form-control' %>
      <%= f.hidden_field :breeder_id%>
    </div>
    <div class="col-md-6">
      <%= f.label :Nombre %><br>
      <%= autocomplete_field_tag('canine_name', '', autocomplete_canine_name_admin_canines_path, :id => "canine_name", :class => "form-control", :name =>"canine[name]")%>
    </div>
     <div class="col-md-6">
      <br>
      <%= f.label :father_lof, "Nombre Padre - LOF" %>
      <i class="fa fa-plus-circle" data-toggle="modal" data-target="#myModal"></i>
      <%= f.text_field :father_lof, class: 'form-control' %>
      <%= f.hidden_field :lft%>
    </div>
    <div class="col-md-6 ">
      <br>
      <%= f.label :mother_lof, "Nombre Madre - LOF" %>
      <i class="fa fa-plus-circle" data-toggle="modal" data-target="#myModal"></i>
      <%= f.text_field :mother_lof, class: 'form-control' %>
      <%= f.hidden_field :rgt%>
    </div>
    <div class="col-md-3">
      <br>
      <%= f.label :tipo_de_ejemplar %><br>
      <%= f.select :kind, [["Registrar Nuevo Ejemplar", "0"],["Crear Ejemplar Informativo", "1"]], {prompt: "Escoger Tipo"}, {class: "form-control"}%>
    </div>
    <div class="col-md-3">
     <br>
      <%= f.label :color %> 
      <%= f.text_field :color, class: 'form-control' %>
    </div> 
    <div class="col-md-3">
      <br>
      <%= f.label :razas %><br>
      <%= f.collection_select :race_id, Race.all, :id, :name, {prompt: "Escoger Raza"}, {class: "form-control"}%>
    </div>
    <div class="col-md-3">
      <br>
      <%= f.label :genero %><br>
      <%= f.select :gender, [["Macho", "1"],["Hembra", "0"]], {prompt: "Escoger Genero"}, {class: "form-control"}%>
    </div>
    <div class="col-md-4 ">
      <br>
      <%= f.label :propietario %>
      <%= f.text_field :propietary, class: "form-control"%>
    </div>
    <div class="col-md-4 ">
      <br>
      <%= f.label :Microchip %><br>
      <%= f.text_field :chip, :class => "form-control"%>
    </div>
    <div class="col-md-4 ">
      <br>
      <%= f.label :new_register, "# Otro Registro" %>
      <%= f.text_field :new_register, class: "form-control"%>
    </div>
    <div class="col-md-6 ">
      <br>
      <%= f.label :nacimiento %>
      <%= f.date_select :birth , class: 'form-control', start_year: 1990, end_year: 2030 %>
    </div>
    <div class="col-md-6 ">
      <br>
      <%= f.label :muerte %>
      <%= f.date_select :death , class: 'form-control', start_year: 1990, end_year: 2030%>
    </div>
    <div class="col-md-12"><%= f.add_nested_fields_link :images, 'Agregar Imagenes', :class =>"btn btn-primary pull-right"%></div>
    <div class="col-md-12">
      <br>
      <%= f.nested_fields_for :images do |ff|%>
        <%= ff.file_field :file , :class => "upload pull-right"%> 
        <%= ff.remove_nested_fields_link do%>
          <i class="fa fa-trash-o"></i>
        <%end%>
      <%end%>
      <br>
    </div>

    <div class="col-md-12">
      <%= f.submit :class =>"btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
<%= render :partial => "admin/canines/modal"%>