<!-- Modal -->
<div class="modal fade" id="myModalAward" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Asignarle Campeonato</h4>
      </div>
      <div class="modal-body">
        <%= form_for :awards , url: admin_awards_path, method: :post do |f| %>
      <div class="field">
          <%= f.label :Seleccione_campeonato %><br>
          <%= f.collection_select :event_id, Event.joins(:type_event).where(type_events: {championship: true}), :id, :name, {prompt: " "}, {class: "form-control"}%>
            <%= f.hidden_field :canine_id, :value => "#{params[:id]}" %>
      </div>
        <div class="field">
          <%= f.label :puesto %><br>
          <%= f.text_field :position, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :premio %><br>
          <%= f.text_area :reward, class: 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit :class =>"btn btn-primary btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>