<%= form_for(@canine) do |f| %>
  <% if @canine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canine.errors.count, "error") %> prohibited this canine from being saved:</h2>

      <ul>
      <% @canine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :race_id %><br>
    <%= f.number_field :race_id %>
  </div>
  <div class="field">
    <%= f.label :breeder_id %><br>
    <%= f.number_field :breeder_id %>
  </div>
  <div class="field">
    <%= f.label :lof %><br>
    <%= f.text_field :lof %>
  </div>
  <div class="field">
    <%= f.label :chip %><br>
    <%= f.text_field :chip %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.number_field :gender %>
  </div>
  <div class="field">
    <%= f.label :color_id %><br>
    <%= f.number_field :color_id %>
  </div>
  <div class="field">
    <%= f.label :father_lof %><br>
    <%= f.text_field :father_lof %>
  </div>
  <div class="field">
    <%= f.label :mother_lof %><br>
    <%= f.text_field :mother_lof %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :birth %><br>
    <%= f.date_select :birth %>
  </div>
  <div class="field">
    <%= f.label :death %><br>
    <%= f.date_select :death %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
