<script>
  var projects = [];
  <% @canines = Canine.where(gender: "1")%>
  <%@canines.each do |canine|%>
    projects.push({ value: '<%=canine.name%>',label: '<%=canine.name%>', desc: '<%=canine.id%>'})
  <%end%>
  <%@canines.each do |canine|%>
    projects.push({ value: '<%=canine.lof%>',label: '<%=canine.lof%>', desc: '<%=canine.id%>'})
  <%end%>
      
  $(function() {
    
    $( "#canine_father_lof" ).autocomplete({
      minLength: 0,
      source: projects,
      focus: function( event, ui ) {
        $( "#canine_father_lof" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#canine_father_lof" ).val( ui.item.label );
        $( "#canine_lft" ).val( ui.item.desc );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
  
  <script>
  var projects_2 = [];
  <% @canines = Canine.where(gender: "0")%>
  <%@canines.each do |canine|%>
    projects_2.push({ value: '<%=canine.name%>',label: '<%=canine.name%>', desc: '<%=canine.id%>'})
  <%end%>
  <%@canines.each do |canine|%>
    projects_2.push({ value: '<%=canine.lof%>',label: '<%=canine.lof%>', desc: '<%=canine.id%>'})
  <%end%>
      
  $(function() {
    
    $( "#canine_mother_lof" ).autocomplete({
      minLength: 0,
      source: projects_2,
      focus: function( event, ui ) {
        $( "#canine_mother_lof" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#canine_mother_lof" ).val( ui.item.label );
        $( "#canine_rgt" ).val( ui.item.desc );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
<div class="row">
  <div class="col-md-12">
    <h3>Nuevo Canino</h3>
    <hr>
  </div>
  <%= form_for @canine , url: admin_canines_path(@canine) , :html => { :multipart => true } do |f| %>
    <% if @canine.errors.any? %>
      <br>
      <br>
      <br>
      <br>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>No se puede crear este canino:</strong>
        <ul>
          <% @canine.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>  
      
    <div class="col-md-12">
      <%= f.label :tipo_de_ejemplar %><br>
      <%= f.select :kind, [["Registrar Ejemplar", "0"],["Registro Informativo", "1"]], {prompt: "Escoger Tipo"}, {class: "form-control"}%>
    </div>
    <br>
    <div class="col-md-12">
      <%= f.label :Nombre %><br>
      <%= autocomplete_field_tag('canine_name', '', autocomplete_canine_name_admin_canines_path, :id => "canine_name", :class => "form-control", :name =>"canine[name]")%>
      <br>
    </div>
    <div class="col-md-3">
      <%= f.label :razas %><br>
      <%= f.collection_select :race_id, Race.all, :id, :name, {prompt: " "}, {class: "form-control"}%>
    </div>
    <div class="col-md-3">
      <%= f.label :propietario %><br>
      <%= f.collection_select :breeder_id, Breeder.all, :id, :name, {prompt: " "}, {class: "form-control"}%>
    </div>
    <div class="col-md-3">
      <%= f.label :color %><br>
      <%= f.collection_select :color_id, Color.all, :id, :name, {prompt: " "}, {class: "form-control"}%>
    </div>
    <div class="col-md-3">
      <%= f.label :genero %><br>
      <%= f.select :gender, [["Macho", "1"],["Hembra", "0"]], {prompt: ""}, {class: "form-control"}%>
    <br>
    </div>
    <div class="col-md-6">
      <%= f.label :father_lof %><br>
      <%= f.text_field :father_lof, class: 'form-control' %>
      <%= f.hidden_field :lft%>
    </div>
    <div class="col-md-6">
      <%= f.label :mother_lof %><br>
      <%= f.text_field :mother_lof, class: 'form-control' %>
      <%= f.hidden_field :rgt%>
      <br>
    </div>
    <div class="col-md-6">
      <%= f.label :nacimiento %><br>
      <%= f.date_select :birth , class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :muerte %><br>
      <%= f.date_select :death , class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.fields_for :images, Image.new do |p| %>
         <div class="field">
           <%= p.label :file %><br>
           <%= p.file_field :file, :multiple => true, name: "images[file][]" %>
         </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <%= f.submit :class =>"btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>