<script type="text/javascript">
  $(document).ready(function() {
    $("#caninestable .deleteLink").on("click",function() {
      if (confirm('Desea eliminar este ejemplar')) {
        var tr = $(this).closest('tr');
        tr.css("background-color","#C9302C");
        tr.fadeOut(400, function(){
          tr.remove();
        });
        var id = $(this).data('id');
        $.ajax({
          type: "DELETE",
          url: "/admin/canines/"+id
        })
        return false;
      }else{
        return false;
      }
    });
  });
</script>
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Ejemplares</h1>
    </div>
    <div class="box-purchase">
      <%= render :partial => "admin/canines/filters"%>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <div class="box-purchase">
      <%= render :partial => "admin/canines/number"%>
    </div>
  </div>
</div>
<hr>
<table class="table table-striped table-hover table-bordered" id="caninestable">
  <thead>
    <tr>
      <th class="center"><%= sort_link @search, :name, "Nombre"%></th>
      <th class="center"><%= sort_link @search, :race_id, "Raza"%></th>
      <th class="center"><%= sort_link @search, :breeder_id, "Criador"%></th>
      <th class="center"><%= sort_link @search, :lof, "LOF"%></th>
      <th class="center"><%= sort_link @search, :gender, "Sexo"%></th>
      <th class="center"><%= sort_link @search, :father_lof, "Padre"%></th>
      <th class="center"><%= sort_link @search, :mother_lof, "Madre"%></th>
      <th class="center"><%= sort_link @search, :date, "Nacimiento"%></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @canines.each do |canine| %>
    <tr >
      <td class="center"><%= link_to canine.name, admin_canine_path(canine), :class => "link_to"  %></td>

      <td class="center"><%= canine.try(:race).try(:name) %></td>
      <td class="center"><%= canine.try(:breeder).try(:name)%></td>
      <td class="center"><%= canine.lof %></td>
      <td class="center"><%= gender(canine.gender) %></td>
      <%- if Canine.exists?( id: canine.lft)%>
        <%lft = Canine.find(canine.lft)%>
        <td class="center"><%= link_to lft.name, admin_canine_path(lft) %></td>
      <%else%>
        <td class="center"></td>
      <%end%>
       <%- if Canine.exists?( id: canine.rgt)%>
        <%rgt = Canine.find(canine.rgt)%>
        <td class="center"><%= link_to rgt.name, admin_canine_path(rgt) %></td>
      <%else%>
        <td class="center"></td>
      <%end%>
      <td class="center"><%= canine.birth %></td>
      <td class="center"><%= link_to edit_admin_canine_path(canine) do %>
        <i class="fa fa-edit"></i>
        <%end%>
      </td>
      <td class="center"><a class="deleteLink" href="" data-id="<%= canine.id%>"><i class="fa fa-trash-o"></i></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @canines, :locals => { :canines => @canines }, renderer: BootstrapPagination::Rails%>


