<div class="col-lg-6">
					<h3>Canino 2</h3>
					<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Cabeza<br></h3>
							</div>
							<div class="panel-body">
								<div class="field col-xs-4">
									Craneo ancho:
									
								</div>
								<div class="field col-xs-4">
									Craneo alto:
									10.0
								</div>
								<div class="field col-xs-4">
									Diametro del Craneo: 
									2.0
								</div>
								<div class="field col-xs-4">
									Longitud de la cabeza: 
									7.0
								</div>
								<div class="field col-xs-4">
									Longitud del craneo:
									34.0
								</div>
								<div class="field col-xs-4">
									Cabeza alto:
									6.0
								</div>
								<div class="field col-xs-4">
									Porcentaje Craneo:
									7.0
								</div>
								<div class="field col-xs-4">
									Alto Ocico con respecto al craneo Craneo:
									76.0
								</div>
								<div class="field col-xs-4">
									Alto Ocico:
									3.0
								</div>
								<div class="field col-xs-4">
									Ocico Porcentaje:
									4.0
								</div>
								<div class="field col-xs-4">
									Ocico alto:
									3.0
								</div>
								<div class="field col-xs-4">
									Insercion oido:
									12
								</div>
							</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Mordida<br></h3>
						</div>
						<div class="panel-body">
							<div class="field col-xs-6">
								<strong> Pinza:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Cruzada:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Prognato:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Enognato:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Tijera Invertida:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Correcta:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Piezas Dentales<br></h3>
						</div>
						<div class="panel-body">
							<div class="field col-xs-6">
								<strong> Completo:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Ausencia de canino:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Ausencia premolar:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Ausencia de incisivo:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Ausencia de molar:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Datos de Parentezcos<br></h3>
						</div>
						<div class="panel-body">
							<div class="field col-xs-6">
								<strong> Problema de comportamiento:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong>Falta de Piezas dentales:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Ectropion:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Aplazamos desviados:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Discapacidad de codo:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Defecto de cola:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Defecto de mordida:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Entropion:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
							<div class="field col-xs-6">
								<strong> Displacia de cadera:</strong>
								<br>
								True:
								<%= "#{params[:canine_1_prognato_true]}%"%> -
								False: 
								<%= "#{params[:canine_1_prognato_false]}%"%>
							</div>
						</div>
					</div>
				</div>