<% if !@canine.feature.blank?%>
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cabeza<br></h3>
      </div>
      <div class="panel-body">
        <div class="field col-xs-4">
          Craneo ancho:
          <%= @feature.skull_width%>
        </div>
        <div class="field col-xs-4">
          Craneo alto:
          <%= @feature.skull_high%>
        </div>
        <div class="field col-xs-4">
          Diametro del Craneo: 
          <%= @feature.skull_diameter%>
        </div>
        <div class="field col-xs-4">
          Longitud de la cabeza: 
          <%= @feature.head_length%>
        </div>
        <div class="field col-xs-4">
          Longitud del craneo:
          <%= @feature.skull_length%>
        </div>
        <div class="field col-xs-4">
          Cabeza alto:
          <%= @feature.heah_high%>
        </div>
        <div class="field col-xs-4">
          Porcentaje Craneo:
          <%= @feature.skull_percentage%>
        </div>
        <div class="field col-xs-4">
          Alto Ocico con respecto al craneo Craneo:
          <%= @feature.muzzle_high_skull%>
        </div>
        <div class="field col-xs-4">
          Alto Ocico:
          <%= @feature.muzzle_high%>
        </div>
        <div class="field col-xs-4">
          Ocico Porcentaje:
          <%= @feature.muzzle_percentage%>
        </div>
        <div class="field col-xs-4">
          Ocico alto:
          <%= @feature.muzzle_high%>
        </div>
        <div class="field col-xs-4">
          Insercion oido:
          <%= @feature.insertion_ear%>
        </div>
      </div>
    </div>
    </div>

    <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mordida<br></h3>
      </div>
      <div class="panel-body">
        <div class="field col-xs-4">
          Pinza:
          <%= @feature.bite_pin%>
        </div>
        <div class="field col-xs-4">
          Cruzada interior:
          <%= @feature.bite_crusade_inside%>
        </div>
        <div class="field col-xs-4">
          Prognato: 
          <%= @feature.bite_prognato%>
        </div>
        <div class="field col-xs-4">
          Enognato: 
          <%= @feature.bite_enognato%>
        </div>
        <div class="field col-xs-4">
          Tijera invertuda:
          <%= @feature.bite_fork_inverted%>
        </div>
        <div class="field col-xs-4">
          Correcta:
          <%= @feature.bite_right%>
        </div>
      </div>
    </div>
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Piezas dentales<br></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
                <img src="/assets/fotoMetter.png" alt="" width="90%" height="90%" >
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
