<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar Nuevo Ejemplar</h4>
      </div>
      <div class="modal-body">
        <%= form_for @canine , url: admin_canines_path(@canine) , :remote => true ,:html => { :multipart => true } do |f| %>
        <div id="erros"></div>
        <div class="row">
            <div class="col-md-12">
              <%= f.label :Nombre %><br>
              <%= autocomplete_field_tag('canine_name', '', autocomplete_canine_name_admin_canines_path, :id => "canine_name", :class => "form-control", :name =>"canine[name]")%>
            </div>
            <div class="col-md-6">
              <%= f.label :tipo_de_ejemplar %><br>
              <%= f.select :kind, [["Registrar Buevo Ejemplar", "0"],["Crear Ejemplar Informativo", "1"]], {prompt: "Escoger Tipo"}, {class: "form-control"}%>
              <%= f.label :genero %><br>
              <%= f.select :gender, [["Macho", "1"],["Hembra", "0"]], {prompt: "Escoger Genero"}, {class: "form-control"}%>
              <%= f.label :Microchip %><br>
              <%= f.text_field :chip, :class => "form-control"%>
              <%= f.label :propietario %>
              <%= f.text_field :propietary, class: "form-control"%>
            </div>
            <div class="col-md-6">
              <%= f.label :color %><br>
              <%= f.collection_select :color, Color.all.order(name: :asc), :name, :name, {prompt: "Escoger Color"}, {class: "form-control"}%>
              <%= f.label :razas %><br>
              <%= f.collection_select :race_id, Race.all.order(name: :asc), :id, :name, {prompt: "Escoger Raza"}, {class: "form-control"}%>
              <%= f.label :new_register, "# Otro Registro" %>
              <%= f.text_field :new_register, class: "form-control"%>
              <%= f.label :criador %>
                <%= f.collection_select :breeder_id, Breeder.all.order(name: :asc), :id, :name, {prompt: " "}, {class: "form-control"}%>
            </div>

          </div>
          <br>
          <%= f.submit :class =>"btn btn-primary btn-block" %>
        <%end%>
      </div>
    </div>
  </div>
</div>