<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">Total Ejemplares: <%= @total_canines%></div>
		<div class="col-md-3">Ejemplares en la semana: <%= @total_canines%></div>
		<div class="col-md-3">Ejemplares al dia: <%= @canines_day%></div>
		<div class="col-md-3">Ejemplares Informativos: <%= @canines_kind_1%></div>
		<br>
		<br>
		<div class="col-md-3">Ejemplares Registrados: <%= @canines_kind_0%></div>
	</div>
</div>
