<div class="row">
  <div class="col-md-12">
    <h3>Nuevo Canino</h3>
    <hr>
  </div>
  <%= form_for @canine, :html => { :multipart => true } , url: admin_canine_path(@canine), :id => @canine.id , method: :put do |f| %>
    <% if @canine.errors.any? %>
      <br>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>No se puede crear este canino:</strong>
        <ul>
          <% @canine.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>  
    <div class="col-md-12">
      <%= f.label :tipo_de_ejemplar %><br>
      <%= f.select :kind, [["Registrar Ejemplar", "0"],["Registro Informativo", "1"]], {prompt: "Escoger Tipo"}, {class: "form-control"}%>
    </div>
    <br>
    <div class="col-md-12">
      <%= f.label :Nombre %><br>
      <%= f.autocomplete_field(:name, autocomplete_canine_name_admin_canines_path, :class => "form-control")%>
      <br>
    </div>
    <div class="col-md-4">
      <%= f.label :razas %><br>
      <%= f.collection_select :race_id, Race.all, :id, :name, {prompt: " "}, {class: "form-control"}%>
    </div>
    <div class="col-md-4">
      <%= f.label :propietario %><br>
      <%= f.collection_select :breeder_id, Breeder.all, :id, :name, {prompt: " "}, {class: "form-control"}%>
    </div>
    <div class="col-md-4">
      <%= f.label :genero %><br>
      <%= f.select :gender, [["Macho", "1"],["Hembra", "0"]], {prompt: ""}, {class: "form-control"}%>
    <br>
    </div>
    <div class="col-md-6">
      <%= f.label :father_lof %><br>
      <%= f.autocomplete_field(:father_lof, autocomplete_canine_name_admin_canines_path, :class => "form-control")%>
    </div>
    <div class="col-md-6">
      <%= f.label :mother_lof %><br>
      <%= f.autocomplete_field(:mother_lof, autocomplete_canine_name_admin_canines_path, :class => "form-control")%>
      <br>
    </div>
    <div class="col-md-6">
      <%= f.label :nacimiento %><br>
      <%= f.date_select :birth , class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :muerte %><br>
      <%= f.date_select :death , class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%- if !@canine.images.empty?%>
        <%= render :partial => 'admin/canines/photo', :locals => { :canine => @canine.id }%>
        <%=fields_for Image.new do |f|%>
           <div class="field">
            <%= f.file_field :file, :rel => admin_canine_images_path(@canine)%>
           </div>
        <% end %>
      <%else%>
        <%=fields_for Image.new do |f|%>
         <div class="field">
          <br>
          <%= f.file_field :file, :rel => admin_canine_images_path(@canine)%>
         </div>
        <% end %>
      <%end%>
    </div>
    <div class="col-md-12">
      <%= f.submit :class =>"btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>