<script>
  var projects = [];
  <% @canines = Canine.where(gender: "1")%>
  <%@canines.each do |canine|%>
    projects.push({ value: '<%=canine.name%>',label: '<%=canine.name%>', desc: '<%=canine.id%>'})
  <%end%>
  <%@canines.each do |canine|%>
    projects.push({ value: '<%=canine.lof%>',label: '<%=canine.lof%>', desc: '<%=canine.id%>'})
  <%end%>
      
  $(function() {
    
    $( "#canine_father_lof" ).autocomplete({
      minLength: 0,
      source: projects,
      focus: function( event, ui ) {
        $( "#canine_father_lof" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#canine_father_lof" ).val( ui.item.label );
        $( "#canine_lft" ).val( ui.item.desc );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
  
  <script>
  var projects_2 = [];
  <% @canines = Canine.where(gender: "0")%>
  <%@canines.each do |canine|%>
    projects_2.push({ value: '<%=canine.name%>',label: '<%=canine.name%>', desc: '<%=canine.id%>'})
  <%end%>
  <%@canines.each do |canine|%>
    projects_2.push({ value: '<%=canine.lof%>',label: '<%=canine.lof%>', desc: '<%=canine.id%>'})
  <%end%>
      
  $(function() {
    
    $( "#canine_mother_lof" ).autocomplete({
      minLength: 0,
      source: projects_2,
      focus: function( event, ui ) {
        $( "#canine_mother_lof" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#canine_mother_lof" ).val( ui.item.label );
        $( "#canine_rgt" ).val( ui.item.desc );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
<div class="row">
  <div class="col-md-12">
    <h3>Editar Canino</h3>
    <hr>
  </div>
  <%= form_for @canine, :html => { :multipart => true } , url: admin_canine_path(@canine), :id => @canine.id , method: :put do |f| %>
    <% if @canine.errors.any? %>
      <br>
      <br>
      <br>
      <br>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>No se puede crear este canino:</strong>
        <ul>
          <% @canine.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>  
      
    <div class="col-md-12">
      <%= f.label :tipo_de_ejemplar %><br>
      <%= f.select :kind, [["Registrar Ejemplar", "0"],["Registro Informativo", "1"]], {prompt: "Escoger Tipo"}, {class: "form-control"}%>
    </div>
    
    <div class="col-md-6">
    <br>
      <%= f.label :Nombre %><br>
      <%= f.autocomplete_field(:name, autocomplete_canine_name_admin_canines_path, :class => "form-control")%>
      <br>
    </div>
    <div class="col-md-6">
    <br>
      <%= f.label :Microchip %><br>
      <%= f.text_field :chip, :class => "form-control"%>
      <br>
    </div>

    <div class="col-md-3">
      <%= f.label :razas %><br>
      <%= f.collection_select :race_id, Race.all, :id, :name, {prompt: " "}, {class: "form-control"}%>
    </div>
    <div class="col-md-3">
      <%= f.label :color %><br>
      <%= f.collection_select :color, Color.all, :name, :name, {prompt: " "}, {class: "form-control"}%>
    </div> 
    <div class="col-md-3">
      <%= f.label :propietario %><br>
      <%= f.collection_select :breeder_id, Breeder.all, :id, :name, {prompt: " "}, {class: "form-control"}%>
    </div>
    <div class="col-md-3">
      <%= f.label :genero %><br>
      <%= f.select :gender, [["Macho", "1"],["Hembra", "0"]], {prompt: ""}, {class: "form-control"}%>
    <br>
    </div>
    <div class="col-md-6">
      <%= f.label :father_lof, "Nombre Padre - LOF" %><br>
      <%= f.text_field :father_lof, class: 'form-control' %>
      <%= f.hidden_field :lft%>
    </div>
    <div class="col-md-6">
      <%= f.label :mother_lof, "Nombre Madre - LOF" %><br>
      <%= f.text_field :mother_lof, class: 'form-control' %>
      <%= f.hidden_field :rgt%>
      <br>
    </div>
    <div class="col-md-6">
      <%= f.label :nacimiento %><br>
      <%= f.date_select :birth , class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :muerte %><br>
      <%= f.date_select :death , class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%- if !@canine.images.empty?%>
        <%= render :partial => 'admin/canines/photo', :locals => { :canine => @canine.id }%>
        <%= f.fields_for :images, Image.new do |ff|%>
           <div class="field">
            <%= ff.file_field :file, :rel => admin_canine_images_path(@canine)%>
           </div>
        <% end %>
      <%else%>
      <br>
        <%=f.fields_for :images, Image.new do |ff| %>
          <div class="field">
          <label>Subir Imagenes</label>
          <%= ff.file_field :file, :rel => admin_canine_images_path(@canine)%>
          </div>
        <% end %>
       <br>
      <%end%>
    </div>
    <div class="col-md-12">
      <%= f.submit :class =>"btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>