<style type="text/css">
    
    .Padre.padrescanino {
        position: relative;
    }
    .canineimage {
        height: 79%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .caninename {
        bottom: 0;
        font-size: 11px;
        left: 0;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    .caninename.bisabuelos {
        padding: 0 !important;
    }
    .Padre.row, .Madre.row {
        margin-left: 0;
        margin-right: 0;
    }
    .me{
        padding: 10px;
        text-align: center;
    }
</style>
<div class="row principal">
        <div class="row">
            <div class="col-md-12 me">
                <%= link_to @canine.id, admin_canine_path(@canine) %>
            </div>     
        </div>
        <section data-role="display" data-current="linaje" class="col-lg-12">
                <div class="Window container" >
                  <section data-bloque="linaje">
                        <div data-view="fila" data-conte="Padres">
                            <div class="Titulo">PADRES</div>
                            <div data-linea="padres">
                                <div class="Padre padrescanino">
                                    <%-  if !@canine.lft.nil?%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @father.id%></span>
                                        <i class="fa fa-mars"></i>
                                    <%else%>
                                         <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-mars"></i>
                                    <%end%>
                                </div>
                                <div class="Madre Padre padrescanino">
                                    <%-  if !@canine.rgt.nil?%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @mother.id%></span>
                                        <i class="fa fa-venus"></i>
                                    <%else%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'>No Tiene Nombre</span>
                                         <i class="fa fa-venus"></i>
                                    <%end%>
                                </div>
                            </div>
                        </div>

                        <div data-view="fila" data-conte="Abuelos" class="xCien_25">
                            <div class="Titulo">ABUELOS</div>
                            <div data-linea="abuelos">
                                <div class="Padre padrescanino">
                                    <%- if !@father.lft.nil?%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @paternal_grandfather.id%></span>
                                        <i class="fa fa-mars"></i>
                                    <%else%>
                                         <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-mars"></i>
                                    <%end%>
                                </div>
                                <div class="Madre Padre padrescanino">
                                    <%- if !@father.rgt.nil?%>
                                         <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @paternal_grandmother.id%></span>
                                        <i class="fa fa-venus"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-venus"></i>
                                    <%end%>
                                </div>

                                <div class="Padre padrescanino">
                                    <%-  if !@mother.lft.nil?%>
                                         <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @maternal_grandfather.id%></span>
                                        <i class="fa fa-mars"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-mars"></i>
                                    <%end%>
                                </div>
                                <div class="Madre Padre padrescanino">
                                    <%-  if !@mother.rgt.nil?%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'><%= @maternal_grandmother.id%></span>
                                        <i class="fa fa-venus"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-venus"></i>
                                    <%end%>
                                </div>
                            </div>                        
                        </div>
                        <div data-view="fila" data-conte="Bisabuelos" class="xCien_12_5">
                            <div class="Titulo">BISABUELOS</div>
                            <div data-linea="bisabuelos">
                                <div class="Padre padrescanino">
                                    <%-  if Canine.exists?(id: @paternal_grandmother.lft)%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @paternal_great_grandfather.id%></span>
                                        <i class="fa fa-mars"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-mars"></i>
                                    <%end%>
                                </div>
                                <div class="Madre Padre padrescanino">
                                    <%-  if Canine.exists?(id: @father.rgt)%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @paternal_great_grandmother.id%></span>
                                        <i class="fa fa-mars"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-venus"></i>
                                    <%end%>
                                </div>
                               
                                <div class="Padre padrescanino">
                                    <%-  if Canine.exists?(id: @mother.lft)%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @maternal_great_grandfather.id%></span>
                                        <i class="fa fa-mars"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-mars"></i>
                                    <%end%>
                                </div>

                                <div class="Madre Padre padrescanino">
                                    <%-  if Canine.exists?(id: @mother.rgt)%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @maternal_great_grandmother.id%></span>
                                        <i class="fa fa-venus"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-venus"></i>
                                    <%end%>
                                </div>
                                

                                <div class="Padre padrescanino">
                                   <%-  if Canine.exists?(id: @mother.lft)%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @mother_maternal_great_grandfather.id%></span>
                                        <i class="fa fa-mars"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-mars"></i>
                                    <%end%> 
                                </div>
                                <div class="Madre Padre padrescanino">
                                    <%-  if Canine.exists?(id: @mother.rgt)%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @mother_paternal_great_grandmother.id%></span>
                                        <i class="fa fa-venus"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-venus"></i>
                                    <%end%>
                                </div>
                                <div class="Padre padrescanino">
                                   <%-  if Canine.exists?(id: @mother.lft)%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @father_maternal_great_grandfather.id%></span>
                                        <i class="fa fa-mars"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-mars"></i>
                                    <%end%> 
                                </div>
                                <div class="Madre Padre padrescanino">
                                    <%-  if Canine.exists?(id: @mother.rgt)%>
                                        <a href="http://placehold.it/350x150"> <img src="http://placehold.it/350x150" class="canineimage"> </a>
                                        <span class='caninename'><%= @father_paternal_great_grandmother.id%></span>
                                        <i class="fa fa-venus"></i>
                                    <%else%>
                                        <img src="http://placehold.it/350x150" class="canineimage">
                                        <span class='caninename'>No Tiene Nombre</span>
                                        <i class="fa fa-venus"></i>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                        
                        
                    </section>
                </div>
        </section>
</div>