<style type="text/css">
  .show-grid [class^="col-"] {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
}
</style>
<%@array_canine_level = []%>
<% get_ancestors(@canine).each do |canine|%>
    <% nivel(Canine.find(params[:id]), canine)%>
    <%hash = [canine, $level]%>
    <%hash_canine_level = Hash[*hash]%>
    <%@array_canine_level << hash_canine_level%>
<%end%>
<%@array_canine_level =  @array_canine_level.reduce Hash.new, :merge%>
<% @array_canine_level = @array_canine_level.sort_by {|_key, value| value}.to_h %>
<div class="bs-docs-grid">
    <div class="row show-grid" >
      <h3 class="center"><%=  @canine.name.upcase%></h3>
      <hr>
      <div id="col-11" class="col-md-3" style="height: 522px;">
            <img src="http://placehold.it/230x150">
            <div class="center"><strong><%= @canine.name.upcase%></strong></div>
      </div>
      <div class="col-md-3" id="col-1">
          <div class="col-md-12 col-11">
            <%- if @canine.lft%>
              <% @father = Canine.find(@canine.lft)%>
              <img src="http://placehold.it/230x150">
              <div class="center"><%= @father.id%></div>
            <%else%>
              <img src="http://placehold.it/230x150">
              <div class="center">No Tiene</div>
            <%end%>
          </div>
          <div class="col-md-12 col-11">
            <%- if @canine.rgt%>
                <% @mother = Canine.find(@canine.rgt)%>
                <img src="http://placehold.it/230x150">
                <div class="center"><%= @mother.id%></div>
              <%else%>
                <img src="http://placehold.it/230x150">
                <div class="center">No Tiene</div>
              <%end%>
          </div>
      </div>
      <%- if @array_canine_level.size > 3%>
        <div class="col-md-3" id="col-2">
            <div class="col-md-12 col-12">
              <img src="http://placehold.it/230x55">
              <div class="center">No Tiene</div>  
            </div>
            <div class="col-md-12 col-12">
              <img src="http://placehold.it/230x55">
              <div class="center">No Tiene</div> 
            </div>
            <div class="col-md-12 col-12">
              <img src="http://placehold.it/230x55">
             <div class="center">No Tiene</div> 
            </div>
            <div class="col-md-12 col-12">
              <img src="http://placehold.it/230x55">
             <div class="center">No Tiene</div> 
            </div>
        </div>
        <div class="col-md-3" id="col-3">
          <div class="col-md-12 col-13">
            <div class="center">No Tiene</div> 
          </div>
          <div class="col-md-12 col-13">
            <div class="center">No Tiene</div> 
          </div>
          <div class="col-md-12 col-13">
            <div class="center">No Tiene</div> 
          </div>
          <div class="col-md-12 col-13">
            <div class="center">No Tiene</div> 
          </div>
          <div class="col-md-12 col-13">
            <div class="center">No Tiene</div> 
          </div>
          <div class="col-md-12 col-13">
            <div class="center">No Tiene</div> 
          </div>
          <div class="col-md-12 col-13">
            <div class="center">No Tiene</div> 
          </div>
          <div class="col-md-12 col-13">
            <div class="center">No Tiene</div> 
          </div>
        </div>
      <%else%>
        <div class="col-md-3" id="col-2">
            <div class="col-md-12 col-12">
              <%- if !@array_canine_level.to_a[5].nil? %>
                <%- if @array_canine_level.to_a[5][1] == 2%>
                  <img src="http://placehold.it/230x55">
                  <div class="center"><%= @father_grandfather = Canine.find(@father.lft).id %></div>
                <%else%>
                  <img src="http://placehold.it/230x55">
                  <div class="center">No Tiene</div>
                <%end%>
              <%else%>
                  <img src="http://placehold.it/230x55">
                  <div class="center">No Tiene</div>  
              <%end%>
            </div>
            <div class="col-md-12 col-12">
              <img src="http://placehold.it/230x55">
              <div class="center">otros</div>
            </div>
            <div class="col-md-12 col-12">
              <img src="http://placehold.it/230x55">
              <div class="center">Nombre</div>
            </div>
            <div class="col-md-12 col-12">
              <img src="http://placehold.it/230x55">
              <div class="center">Nombre</div>
            </div>
        </div>
        <div class="col-md-3" id="col-3">
          <div class="col-md-12 col-13">
            .col-md-12
          </div>
          <div class="col-md-12 col-13">
            .col-md-12
          </div>
          <div class="col-md-12 col-13">
            .col-md-12
          </div>
          <div class="col-md-12 col-13">
            .col-md-12
          </div>
          <div class="col-md-12 col-13">
            .col-md-12
          </div>
          <div class="col-md-12 col-13">
            .col-md-12
          </div>
          <div class="col-md-12 col-13">
            .col-md-12
          </div>
          <div class="col-md-12 col-13">
            .col-md-12
          </div>
        </div>
      <%end%>
    </div>
  </div>