<p id="notice"><%= notice %></p>

<p>
  <strong>Race:</strong>
  <%= @canine.race_id %>
</p>

<p>
  <strong>Breeder:</strong>
  <%= @canine.breeder_id %>
</p>

<p>
  <strong>Lof:</strong>
  <%= @canine.lof %>
</p>

<p>
  <strong>Chip:</strong>
  <%= @canine.chip %>
</p>

<p>
  <strong>Name:</strong>
  <%= @canine.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @canine.gender %>
</p>

<p>
  <strong>Color:</strong>
  <%= @canine.color_id %>
</p>

<p>
  <strong>Father lof:</strong>
  <%= @canine.father_lof %>
</p>

<p>
  <strong>Mother lof:</strong>
  <%= @canine.mother_lof %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @canine.rate %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @canine.birth %>
</p>

<p>
  <strong>Death:</strong>
  <%= @canine.death %>
</p>

<%= link_to 'Edit', edit_canine_path(@canine) %> |
<%= link_to 'Back', canines_path %>
