<div class="jumbotron" style="padding: 0px;">
<div class="cardheader"></div>
  <div class="row" style="margin: 0px; position: relative; bottom: 120px;"> 
    <div class="col-md-12 center">
        <span class="center_span"><%=@canine.name.upcase%></span>
    </div>
    <div class="col-md-12">
      <%= link_to "DIAGRAMA DE FLECHA", admin_endogamia_path(@canine), :class =>"btn btn-warning btn-outlined pull-right hidden-xs", :disabled => @array_ancestor.zero? %>
    </div>
    <div class="col-md-4 hidden-xs">
      <img alt="" src="<%= pic_canine(@canine)%>", class="thumbnail img-responsive" style="width: 70%;">
    </div>
    <div class="col-md-8" style="margin-top: 30px;">
      <div class="row" style="margin-top: 0px;">
        <div class="col-md-8" style="margin-top: 30px;">
          <span>RAZA:</span>
          <span><%= get_race(@canine.race_id) %></span><br>
          <span>SEXO:</span>
          <span><%= gender(@canine.gender)%></span><br>
          <span>COLOR:</span>
          <span><%= @canine.color%> </span><br>
          <span>Nacimiento:</span>
          <span><%= @canine.birth%></span><br>
          <span>LOF:</span>
          <span><%= @canine.lof%></span><br>
          <span># OTRO REGISTRO:</span>
          <span><%= @canine.new_register%> </span><br>
          <span>CRIADOR:</span>
          <span><%= get_breeder(@canine.breeder_id)%></span><br>
          <span>MICROCHIP:</span>
          <span><%= @canine.chip%> </span><br>
          <span>Fecha de registor:</span>
          <span><%= @canine.created_at.strftime("%m-%d-%Y")%> </span>
        </div>
        <div class="col-md-4">
          <h3><span class="label label-primary">RANKING: <%= @ranking.to_i%></span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 0px; margin-right: 0px; margin-left: 0px; position: relative; top: -46px;">
    <div class="col-md-3">
      <%= link_to "Eliminar",admin_canine_path(@canine), method: :delete, data: { confirm: 'Desea eliminar este ejemplar?' }, :class =>"btn btn-danger btn-outlined btn-block" %>
    </div>
    <div class="col-md-3">
      <%= link_to "Modificar", edit_admin_canine_path(@canine), :class =>"btn btn-info btn-outlined btn-block" %>
    </div>
    <div class="col-md-3">
      <%= link_to "Pedigree", admin_pedigree_path(@canine), :class =>"btn btn-success btn-outlined btn-block", :disabled => @array_ancestor.zero? %>
    </div>
    <div class="col-md-3">
      <%= link_to "Certificado", admin_canine_path(@canine, :format => "pdf"), :class => "btn btn-warning btn-outlined btn-block" %>
    </div>
  </div>
</div>
<%= render partial: "/admin/canines/tabs"%>
