<div class="container shop-dresses" id="product_dresses">
      <div class="row">
        <div class="prod-top-img col-md-12" id="single-prod-top">

          <div class="col-md-4 pp-cont-det">
              <div class="details-single-img dresses-single-b">
                <img src="../images/store/product/dresses/5.jpg" alt="Mikore">
              </div>
          </div>
          <div class="col-md-8 det-info-prod">
             <div class="single-prod-info">
               <div class="det-dres">
                 <span class="product-name-title"><%= @canine.name%></span>
                </div>
                <span class="shop-price"> <%= @canine.rate%> </span>
             </div>
             <div class="single-prod-description">
                <%= @canine.lof%>
             </div>
              <div class="single-prod-description">
                <%= @canine.race.name%>
             </div>
              <div class="single-prod-description">
                <%= @canine.breeder.name%>
             </div>
              <div class="single-prod-description">
                <%= @canine.chip%>
             </div>
              <div class="single-prod-description">
                <%= gender(@canine.gender)%>
             </div>
             <div class="single-prod-description">
                <%= @canine.color.name%>
             </div>
             <div class="single-prod-description">
                <%= @canine.father_lof%>
             </div>
             <div class="single-prod-description">
                <%= @canine.mother_lof%>
             </div>
             <div class="single-prod-description">
                <%= @canine.birth%>
             </div>
             <div class="single-prod-description">
                <%= @canine.death%>
             </div>
             <div class="details-material_dresses">
              <ul>
              </ul>
             </div>
             <div class="single-prod-button">
                     <%= link_to "Editar Ejemplar", edit_admin_canine_path(@canine), :class => "btn btn-primary"%>
              </div>
          </div>
          
        </div>
    </div>
</div>
