<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
<<<<<<< HEAD
        <%if @canine.images.last.blank? %>
        <img alt="" class="img-responsive" src="http://placehold.it/350x350">
        <%else%>
        <img alt="" class="img-responsive" src="<%= @canine.images.last.file%>">
=======
       <%if @canine.images.last.blank? %>
         <img alt="" class="img-responsive" src="http://placehold.it/350x350">
        <%else%>
          <img alt="" class="img-responsive" src="<%= @canine.images.last.file%>">
>>>>>>> 9f5d0e1e9f1ae3b2a815194d085346ae795fa609
        <%end%>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <span class="canine_name"><%= @canine.name%></span>
            <span></span>
          </div>
          <div class="col-md-4">
            <span class="canine_name pull-right">0.0</span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <span>Sexo:</span>
            <span><%= gender(@canine.gender)%></span>
          </div>
          <br>
          <div class="col-md-12">
            <span>Criadero:</span>
            <%-if !@canine.breeder_id.blank?%>
<<<<<<< HEAD
            <span><%= @canine.breeder.name_breed%> </span>
=======
              <span><%= @canine.breeder.name_breed%> </span>
>>>>>>> 9f5d0e1e9f1ae3b2a815194d085346ae795fa609
            <%end%> 
          </div>
          <br>
          <div class="col-md-12">
            <span>Fecha Nacimiento:</span>
            <span><%= @canine.birth%></span>
          </div>
          <br>
          <div class="col-md-12">
            <span>Propietario:</span>
            <%-if !@canine.breeder_id.blank?%>
<<<<<<< HEAD
            <span><%= @canine.breeder.name%> </span>
=======
              <span><%= @canine.breeder.name%> </span>
>>>>>>> 9f5d0e1e9f1ae3b2a815194d085346ae795fa609
            <%end%>
          </div>
          <br>
          <div class="col-md-12">
            <span>Color:</span>
<<<<<<< HEAD
            <%-if !@canine.color_id.blank?%>
            <span><%= @canine.color.name%> </span>
=======
             <%-if !@canine.color_id.blank?%>
              <span><%= @canine.color.name%> </span>
>>>>>>> 9f5d0e1e9f1ae3b2a815194d085346ae795fa609
            <%end%>
          </div>
          <br>
          <div class="col-md-12">
            <span>Raza:</span>
            <%-if !@canine.race_id.blank?%>
<<<<<<< HEAD
            <span><%= @canine.race.name%> </span>
            <%end%>
          </div>

=======
              <span><%= @canine.race.name%> </span>
            <%end%>
          </div>
          
>>>>>>> 9f5d0e1e9f1ae3b2a815194d085346ae795fa609
          <div class="col-md-3">
            <a role="button" href="<%= admin_pedigree_path(@canine)%>" class="btn btn-lg btn-success btn-outlined btn-block">Ver Pedigree</a>
          </div>
          <div class="col-md-3">
            <%= link_to "Eliminar",admin_canine_path(@canine), method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-lg btn-danger btn-outlined btn-block" %>

          </div>
          <div class="col-md-3">
<<<<<<< HEAD
            <%= link_to "Modificar", edit_admin_canine_path(@canine), :class =>"btn  btn-lg btn-info btn-outlined btn-block" %>
          </div>
          <div class="col-md-3">
            <%- if @canine.feature%>
              <%= link_to "Metter", new_admin_feature_path(canine_id: @canine.id), :class =>"btn  btn-lg btn-warning btn-outlined btn-block" %>
            <%else%>
            <%= link_to "Metter", new_admin_feature_path(canine_id: @canine.id), :class =>"btn  btn-lg btn-warning btn-outlined btn-block" %>
            <% end %>
=======
              <%= link_to "Modificar", edit_admin_canine_path(@canine), :class =>"btn  btn-lg btn-info btn-outlined btn-block" %>
          </div>
          <div class="col-md-3">
            <%= link_to "Metter", new_admin_feature_path(canine_id: @canine.id), :class =>"btn  btn-lg btn-warning btn-outlined btn-block" %>

>>>>>>> 9f5d0e1e9f1ae3b2a815194d085346ae795fa609
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="row marketing">
    <div class="col-lg-12">
      <div data-example-id="togglable-tabs" role="tabpanel" class="bs-example bs-example-tabs">
        <ul role="tablist" class="nav nav-tabs" id="myTab">
<<<<<<< HEAD

          <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Hijo</a></li>

          <li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#profile">Hermanos</a></li>

          <li role="presentation"><a aria-controls="profile2" data-toggle="tab" id="profile2-tab" role="tab" href="#profile2">Premios</a></li>

          <li role="presentation"><a aria-controls="profile3" data-toggle="tab" id="profile3-tab" role="tab" href="#profile3">Meteer</a></li>

=======
          
          <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Hijo</a></li>
          
          <li role="presentation"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#profile">Hermanos</a></li>
          
          <li role="presentation"><a aria-controls="profile2" data-toggle="tab" id="profile2-tab" role="tab" href="#profile2">Premios</a></li>
          
          <li role="presentation"><a aria-controls="profile3" data-toggle="tab" id="profile3-tab" role="tab" href="#profile3">Meteer</a></li>
          
>>>>>>> 9f5d0e1e9f1ae3b2a815194d085346ae795fa609
          <li role="presentation"><a aria-controls="profile4" data-toggle="tab" id="profile4-tab" role="tab" href="#profile4">Galeria de Imagenes</a></li>
        </ul>
        <!-- tabs -->
        <div class="tab-content" id="myTabContent">
          <div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel">
            <div class="row text">
              <%= render partial: "/admin/canines/children"%>
            </div>
          </div>

          <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel">
            <%= render partial: "/admin/canines/siblings"%>
          </div>

          <div aria-labelledby="profile2-tab" id="profile2" class="tab-pane fade" role="tabpanel">
            <%= render partial: "/admin/canines/awards"%>
          </div>

          <div aria-labelledby="profile3-tab" id="profile3" class="tab-pane fade" role="tabpanel">
            <%= render partial: "/admin/canines/metter"%>
          </div>

          <div aria-labelledby="profile4-tab" id="profile4" class="tab-pane fade" role="tabpanel">
            <%= render partial: "/admin/canines/images"%>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
