<div class="row">
	<%= form_for @color , url: admin_color_path(@color), :id => @color.id , method: :put do |f| %>
  <div class="col-md-12"><h2>Editar Color</h2></div>
	<% if @color.errors.any? %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>No se puede modificar el color:</strong>
        <ul>
          <% @color.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	<div class="col-md-12">
		<%= f.label :name %><br>
		<%= f.text_field :name, class: 'form-control' %>
	</div>
	<div class="col-md-12">
		<%= f.submit :class =>"btn btn-primary btn-block" %>
	</div>
	<% end %>
</div>
