<%- if params[:controller].split("/").first == "admin"%>
<%= link_to "Agregar Metter", new_admin_canino_characteristic_path(canine_id: params[:id]), :class => "pull-right btn btn-primary btn-outlined btn-block"%>
<%end%>
<%- if @canino_characteristics.empty?%>
      <h1 class="center" style="text-align: center; margin-top: 40px;">NO TIENE METTER CREADO</h1>
<%else%>
  <br>
  <br>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <th class="center">CARACTERÍSTICA</th>
        <th class="center">DETALLE</th>
        <th colspan="2">
      </th>
    </thead>
    <tbody>
      <%@canino_characteristics.each do |can_char|%>
        <tr >
          <td class="center"> <%= get_characteristics(can_char.characteristic_id)  %></td>
          <td class="center"> <%= get_characteristic_detail(can_char.value, @canine.race_id, can_char.characteristic_id, @canine.birth)  %></td>

          <%- if params[:controller].split("/").first == "admin"%>
          <td class="center">
            <%= link_to edit_admin_canino_characteristic_path(can_char) do %>
              <i class="fa fa-edit"></i>
            <%end%>
          </td>
          <td class="center">
            <%= link_to admin_canino_characteristic_path(can_char), method: :delete, data: { confirm: 'Desea eliminar este ejemplar?' } do %>
              <i class="fa fa-trash-o"></i>
            <%end%>
          </td>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
<%end%>