<%= form_for :canino_characteristic, :html => {:id => 'canino_characteristic_form'} do |f| %>
	<h2>Editar Caracteristica </h2>
	<span class="bold"><%= @characteristic.name%></span>
	<%if @characteristic.color == true %>
		<%= f.collection_select :value, Color.all.order(name: :asc), :id, :name, {prompt: "Escoger"}, {class: "form-control find_selected"}%>
	<%-  elsif @characteristic.measure_id.blank? %>
		<%= f.collection_select :value, @characteristic.characteristic_details, :id, :description, {prompt: " "}, {class: "form-control find_selected"}%>
	<%else%>
		<%= f.number_field :value, :class => "form-control find_selected numbe_field"%>
		<span id="errmsg"></span>
	<%end%>
	<br>
<% end %>
<button id="button_canino_characteristic" class="btn btn-info btn_white btn-block">Modificar Metter</button>  	

<script type="text/javascript">
	$(document).ready(function() {
		$(".numbe_field").keypress(function (e) {
			if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
		        $("#errmsg").html("Digits Only").show().fadeOut("slow");
		        return false;
		    }
		});
		var valor;
		var characteristic_id = <%= params[:id]%>
		$("#button_canino_characteristic").click(function(){
			$('#canino_characteristic_form').find('.find_selected').each(function(){
				if($("option:selected", this).attr("value") != "" ){
					valor = $(this).val();
				}
			})
			$.ajax({
				type: "PUT",
				url: "/admin/canino_characteristics/" + characteristic_id,
				data: { canino_characteristic: { value: valor} }
			})
		});
	});
</script>