<%unless params[:approve]%>
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Adicionar Metter A Ejemplares</h1>
      </div>
      
    </div>
    <div class="col-lg-12">
      <%= render :partial => "/admin/canino_characteristics/filter"%>
      <br>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th class="center">Nombre</th>
            <%unless params[:index_2]%>
              <th colspan="3"></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% @canines.each do |canine| %>
            <tr >
              <td class="center"><%= link_to canine.name, admin_canine_path(canine.id), :class => "link_to"  %></td>
              <%unless params[:index_2]%>
                <td class="center"><%= link_to "Crear Nuevo Metter", new_admin_canino_characteristic_path(canine_id: canine.id), :class => "link_to"  %>
                </td>
                <td class="center"><%= link_to "Adicionar Metter", new_admin_canino_characteristic_path(canine_id: canine.id, edit: true), :class => "link_to"  %>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Selecciona el metter que has creado anteriormente para el ejemplar que has escogido!"><i class="fa fa-question"></i></a>
                </td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-12">
     
    </div>
  </div>
<%else%>
  <div class="row">
    <div class="col-md-12"> 
      <div class="page-header">
        <h1>Aprobar Metter</h1>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th class="center">Nombre</th>
            <th class="center">Telefono</th>
            <th class="center">Email</th>
            <th class="center">Nombre de canino</th>
            <th class="center">Raza</th>
            <th class="center">Sexo</th>
            <th class="center">Color</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @canine_characteristics.each do |canine_characteristi| %>
            <tr >
              <td class="center"><%= canine_characteristi.temporal_owner %></td>
              <td class="center"><%= canine_characteristi.temporal_phone %></td>
              <td class="center"><%= canine_characteristi.temporal_email %></td>
              <td class="center"><%= canine_characteristi.id %></td>
              <td class="center"><%= canine_characteristi.temporal_race %></td>
              <td class="center"><%= canine_characteristi.temporal_sex %></td>
              <td class="center"><%= canine_characteristi.temporal_color %></td>
              <td class="center"><%= link_to admin_approve_path(canine_characteristi), method: :put, data: { confirm: 'Desea activar este metter?' } do %>
                <i class="fa fa-check"></i>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<%= will_paginate @canine_characteristics, :locals => { :canine_characteristics => @canine_characteristics }, renderer: BootstrapPagination::Rails%>
<%end%>


