<%- if params[:edit]%>
	<%= form_for :canino_characteristic, :html => {:id => 'canino_characteristic_form'} do |f| %>
	<%- if @canine_characteristic.empty?%>
		<div class="error-template">
			<h1>Oops!</h1>
			<i class="fa fa-frown-o fa-6" style="font-size: 17em ! important;"></i>
			<h2> Metter No encontrado !</h2>
			<div class="error-details">
				No Hemos encontrado que has creado ningun metter
			</div>
			<div class="error-actions">
				<a href="/admin/canino_characteristics/new?canine_id=0" class="btn btn-primary"> Ir Crear Nuevo Metter</a>
			</div>
		</div>
	<%else%>
		<h2>Formulario Metter</h2>
		<a href="#" data-toggle="tooltip" class= "pull-right" data-placement="bottom" title="Selecciona el metter que has creado anteriormente para el ejemplar que has escogido!"><i class="fa fa-question"></i></a>
		<%= f.collection_select :value, @canine_characteristic, :id, :temporal_canine_name, {prompt: "Selecciona Canino"}, {class: "form-control find_selected"}%>
		<br>
		<!-- <a href="#sign_up" id="button_canino_characteristic" class="btn btn-primary btn-block">Adicionar Metter</a> -->
		<a class="sign_new btn btn-primary btn-block" href="#sign_up">Adicionar Metter</a>
	<%end%>
	<% end %>
	<br>
	<script type="text/javascript">
		$(document).ready(function() {
			var characteristic_id;
			var canine_id = <%= params[:canine_id]%>;
			$('a[href="#sign_up"]').click(function(){
				$('#canino_characteristic_form').find('.find_selected').each(function(){
					if($("option:selected", this).attr("value") != "" ){
						characteristic_id =  $(this).val();
					}
				})	
				$.ajax({
					type: "PUT",
					url: "/admin/canino_characteristics/" + characteristic_id + "/update_metter",
					data: { canine_id},
				})
			});
		});
	</script>	
<%else%>
	<%= form_for :canino_characteristic, :html => {:id => 'canino_characteristic_form'} do |f| %>
		<div class="row">
			<%- if params[:canine_id] == "0"%>
				<div class="col-md-12">
					<%= f.label :temporal_canine_name, "Nombre Ejemplar"%>
					<%= f.text_field :value, :class => "form-control"%>
				</div>
			<%end%>
			<%unless @observations%>
				<div class="col-md-12">
					<%= f.label :observations, "Observaciones"%>
					<%= f.text_field :observations, :class => "form-control"%>
					<hr>
				</div>
			<%end%>
			<%- @characteristics.each do |characteristic|%>
				<div class="col-md-4">
					<span class="bold"> <%= characteristic.name%> </span>
					<%= f.hidden_field :characteristic_id, :value => characteristic.id %>
					<%if characteristic.color == true %>
						<%= f.collection_select :value, Color.all.order(name: :asc), :id, :name, {prompt: "Escoger"}, {class: "form-control find_selected"}%>
					<%- elsif characteristic.measure_id.blank? %>
						<%= f.collection_select :value, characteristic.characteristic_details, :id, :description, {prompt: "Escoger"}, {class: "form-control find_selected"}%>
					<%else%>
						<%= f.number_field :value, :class => "form-control numbe_field find_selected", :min =>"0"%>
					<%end%>
				</div>
			<%end%>
			<br>
		</div>
	<% end %>
	<br>
	<button id="button_canino_characteristic" class="btn btn-primary btn-block">CREAR METTER</button>  	
	<script type="text/javascript">
		$(document).ready(function() {
			$(".numbe_field").keypress(function (e) {
				if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
					return false;
				}
			});
			var characteristics = {};
			$("#button_canino_characteristic").click(function(){
				var canine;
				var canine_id;
				observations = $('#canino_characteristic_observations').val();
				if ($('#canino_characteristic_value').val()) {
					canine = $('#canino_characteristic_value').val();
					canine_id = <%= params[:canine_id]%>;
				} else{
					canine_id = <%= params[:canine_id]%>;
				};		
				$('#canino_characteristic_form').find('.find_selected').each(function(){
					if($("option:selected", this).attr("value") != "" ){
						console.log($(this).val());
						characteristics[$(this).prev().val()] = $(this).val();
					}
				})
				$.ajax({
					type: "POST",
					url: "/admin/canino_characteristics",
					data: {  characteristics, canine, canine_id, observations},
				})
			});
		});
	</script>
<%end%>