<div class="row">
	<div class="col-md-12"><h2 ><%=@characteristic.name%></h2></div>
	<div class="col-md-4"> <%= link_to "EDITAR", edit_admin_characteristic_path(@characteristic), :class =>"btn btn-warning btn-outlined btn-block" %></div>
	<div class="col-md-4"> <%= link_to "BORRAR", admin_characteristic_path(@characteristic), method: :delete, data: { confirm: 'Desea eliminar este caracteristica?' }, :class =>"btn btn-warning btn-danger btn-block" %></div>
	<%- if @characteristic.measure_id.blank?%>
		<div class="col-md-4">
			<%= link_to "AGREGAR OPCIONES", admin_options_path(@characteristic), :class =>"btn btn-warning btn-outlined btn-block" %>
		</div>
	<%end%>
	<div class="col-md-12">
		<h2>Opciones</h2>
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th class="center">Opción</th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>

				<%@characteristic.characteristic_details.each do |characteristic_detail|%>
				<tr >
					<%session[:characteristic] = @characteristic.id%>
					<td class=""><%= characteristic_detail.description%></td>
					<td class="center"><%= link_to edit_admin_characteristic_detail_path(characteristic_detail) do %>
						<i class="fa fa-edit"></i>
						<%end%>
					</td>
					<td class="center"><%= link_to admin_characteristic_detail_path(characteristic_detail), method: :delete, data: { confirm: 'Desea eliminar este color?' } do %>
						<i class="fa fa-trash-o"></i>
						<%end%>
					</td>
				</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>