<p id="notice"><%= notice %></p>

<h1>Listing Type Championships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_championships.each do |type_championship| %>
      <tr>
        <td><%= type_championship.name %></td>
        <td><%= link_to 'Show', type_championship %></td>
        <td><%= link_to 'Edit', edit_type_championship_path(type_championship) %></td>
        <td><%= link_to 'Destroy', type_championship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type championship', new_admin_type_championship_path %>
