<p id="notice"><%= notice %></p>

<p>
  <strong>Type breeder:</strong>
  <%= @breeder.type_breeder_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @breeder.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @breeder.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @breeder.email %>
</p>

<p>
  <strong>Name breed:</strong>
  <%= @breeder.name_breed %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @breeder.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @breeder.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @breeder.instagram %>
</p>

<p>
  <strong>Web:</strong>
  <%= @breeder.web %>
</p>

<%= link_to 'Edit', edit_breeder_path(@breeder) %> |
<%= link_to 'Back', breeders_path %>
