<div class="container">
  <div class="row">
    <br>
    <div class="col-md-8">
      <h1><%= @video.title%></h1>
      <%= link_to "Editar Video", edit_admin_video_path(@video)%>
      <hr>
      <p><i class="fa fa-calendar"></i></span> <%= @video.created_at.strftime('%b  %d  %Y')%></p>
      <hr>
      <div class="video-container">
         <iframe src="http://www.youtube.com/embed/<%=@video.url%>" frameborder="0" width="617" height="315"></iframe>
      </div>
      <p class=""><%= @video.description%></p>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h4>Ultimos Video</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <% @videos.each do |video| %>
                <li><a href="<%= video_path(video.id)%>"><%= video.title%></a>
                <%end%> 
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>