<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="<%= root_path%>">
          <!-- <img alt="logo" src="/assets/logo_2.png"> -->
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse dropdown-prod-cart-scroll scroll-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="home"href="<%= root_path(:home => "header")%>">Inicio</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Pedigree <b class="caret"></b></a>
          <ul class="dropdown-menu vertical-li">
            <li><a href="<%= canines_path%>">Buscar canino</a></li>
            <li><a href="<%= merge_canine_path%>">Realizar cruce</a></li>
          </ul>
        </li>

        <li><a href="<%= articles_path%>"><%=t ('.article')%></a></li>
        <li><a href="<%= videos_path%>"><%=t ('.video')%></a></li>
        <li><a href=#><%=t ('.championship')%></a></li>
        <li><a href="<%= events_path%>"><%=t ('.event')%></a></li>
        <li><a href="<%= breeders_path%>"><%=t ('.breeder')%></a></li>
        <li><a href="<%= home_contactus_path%>"><%=t ('.contact')%></a></li>
      </ul>
    </div>
  </div>
</nav>