<!DOCTYPE html>
<html>
<head>
	<title>FedepitApp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%- if params[:controller].split("/").first == "admin"%>
		<div class="container m40px">
	<%end%>
		<!-- <div id="loader-wrapper">
	      <div id="loader"></div>
	    </div> -->
		<%= render partial: "layouts/share"%>
		<%- unless params[:controller].split("/").first == "admin" %>
	    	<%= render partial: "layouts/header"%>
	    <%else%>
	    	<%= render partial: "layouts/header2"%>
	    <%end%>
	    	<%= yield %>
	    	<% if params[:controller] == "home" and params[:action] == "index"%>
	    		<%= render partial: "layouts/footer"%>
	    	<%end%>
	<%- if params[:controller].split("/").first == "admin"%>
		</div >
	<%end%>
</body>
</html>
